openapi: 3.0.3
info:
  title: User Management
  version: 1.0.0
  description: "API documentation of User Management"
servers:
- url: 'https://auth.lambdatest.com/'
- url: 'https://eu-auth.lambdatest.com/'
paths:
  /api/organization/users:
    get:
      security:
        - basicAuth: [ ]  
      tags:
        - Users
      summary: Get All users
      description: Get All users
      operationId: getAllUsers
      responses:
        '200':
          description: Get All users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          example: pawan17@lambdatest.com
                        group:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 814
                            name:
                              type: string
                              example: g2
                        id:
                          type: number
                          example: 407868
                        name:
                          type: string
                          example: pawan rai
                        role:
                          type: string
                          example: Admin
                    example:
                      - email: pawan17@lambdatest.com
                        group:
                          id: 814
                          name: g2
                        id: 407868
                        name: pawan rai
                        role: Admin
                      - email: kliosbuhek@qiott.com
                        group:
                          id: 817
                          name: g7
                        id: 407869
                        name: Pawan
                        role: Admin
              examples:
                Get All users:
                  value:
                    data:
                      - email: pawan17@lambdatest.com
                        group:
                          id: 814
                          name: g2
                        id: 407868
                        name: pawan rai
                        role: Admin
                      - email: kliosbuhek@qiott.com
                        group:
                          id: 817
                          name: g7
                        id: 407869
                        name: Pawan
                        role: Admin
        '401':
          description: Get All users Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Get All users Error:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/organization/user:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Users
      summary: Edit details by admin
      description: Edit details by admin
      operationId: editDetailsByAdmin
      requestBody:
        description: Edit details by admin
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: number
                  example: 421
                name:
                  type: string
                  example: Pawan
                user_id:
                  type: number
                  example: 407869
            example:
              group_id: 421
              name: Pawan
              user_id: 407869
      responses:
        '200':
          description: Edit name by admin Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User profile updated successfully
                  type:
                    type: string
                    example: success
              examples:
                Edit name by admin Success:
                  value:
                    message: User profile updated successfully
                    type: success
        '403':
          description: Wrong id
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Wrong id:
                  value:
                    message: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                    title: Unauthorized Error
                    type: error
  /api/organization/user/{user_id}:
    patch:
      security:
        - basicAuth: [ ]
      tags:
        - Users
      summary: Update User Role by admin
      description: Update User Role by admin
      operationId: updateUserRoleByAdmin
      parameters:
      - name: user_id
        in: path
        description: user id of member
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  example: Admin
            example:
              role: Admin
      responses:
        '200':
          description: Update User Role
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Organization role updated Successfully
                  type:
                    type: string
                    example: success
              examples:
                Update User Role:
                  value:
                    message: Organization role updated Successfully
                    type: success
        '422':
          description: Update User Role with invalid email
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry, Requested Role is not valid
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Update User Role with invalid email:
                  value:
                    message: Sorry, Requested Role is not valid
                    title: Bad Request Error
                    type: error
    delete:
      security:
        - basicAuth: [ ]
      tags:
        - Users
      summary: Delete members
      description: Delete members
      operationId: deleteMembers
      parameters:
      - name: user_id
        in: path
        description: user id of member
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User deleted Successfully
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: User deleted Successfully
                    type: success
        '403':
          description: Delete Member from other Org Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Delete Member from other Org Error:
                  value:
                    message: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                    title: Unauthorized Error
                    type: error
  /api/organization/users/{user_id}/password:
    patch:
      security:
        - basicAuth: [ ]
      tags:
        - Users
      summary: User Password by admin
      description: User Password by admin
      operationId: userPasswordByAdmin
      parameters:
      - name: user_id
        in: path
        description: user id of member
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm_password:
                  type: string
                  example: password1
                new_password:
                  type: string
                  example: password1
            example:
              confirm_password: password1
              new_password: password1
      responses:
        '200':
          description: User Password by admin Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password changed successfully, for user - Pawan
                  type:
                    type: string
                    example: success
              examples:
                User Password by admin Success:
                  value:
                    message: Password changed successfully, for user - Pawan
                    type: success
        '422':
          description: User Password by admin
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      password:
                        type: string
                        example: Please do not use last used passwords
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                User Password by admin:
                  value:
                    message:
                      password: Please do not use last used passwords
                    title: Bad Request Error
                    type: error
  /api/organization/users-list:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Users
      summary: Get all member and invited users
      description: Get all member and invited users
      operationId: getAllMemberAndInvitedUsers
      responses:
        '200':
          description: Get all member and invited users Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        Email:
                          type: string
                          example: kliosbuhek@qiott.com
                        Group:
                          type: string
                          nullable: true
                          example: g7
                        InvitedAt:
                          type: string
                          nullable: true
                          example: '2022-12-30T17:00:51Z'
                        InvitedBy:
                          type: string
                          nullable: true
                          example: pawan rai
                        LastLoginAt:
                          type: string
                          nullable: true
                          example: '2022-12-30T17:01:20Z'
                        Name:
                          type: string
                          nullable: true
                          example: Pawan
                        Role:
                          type: string
                          example: Admin
                        Status:
                          type: string
                          example: Active
                    example:
                      - Email: kliosbuhek@qiott.com
                        Group: g7
                        InvitedAt: '2022-12-30T17:00:51Z'
                        InvitedBy: pawan rai
                        LastLoginAt: '2022-12-30T17:01:20Z'
                        Name: Pawan
                        Role: Admin
                        Status: Active
                      - Email: pawan17@lambdatest.com
                        Group: g2
                        InvitedAt: null
                        InvitedBy: null
                        LastLoginAt: '2022-12-30T16:57:59Z'
                        Name: pawan rai
                        Role: Admin
                        Status: Internal
                      - Email: pawan12@qiott.com
                        Group: null
                        InvitedAt: '2022-12-30T17:02:46Z'
                        InvitedBy: pawan rai
                        LastLoginAt: null
                        Name: null
                        Role: User
                        Status: Pending
                      - Email: 1secaml@qiott.com
                        Group: null
                        InvitedAt: '2022-12-30T17:02:46Z'
                        InvitedBy: pawan rai
                        LastLoginAt: null
                        Name: null
                        Role: Admin
                        Status: Pending
              examples:
                Get all member and invited users Success:
                  value:
                    data:
                      - Email: kliosbuhek@qiott.com
                        Group: g7
                        InvitedAt: '2022-12-30T17:00:51Z'
                        InvitedBy: pawan rai
                        LastLoginAt: '2022-12-30T17:01:20Z'
                        Name: Pawan
                        Role: Admin
                        Status: Active
                      - Email: pawan17@lambdatest.com
                        Group: g2
                        InvitedAt: null
                        InvitedBy: null
                        LastLoginAt: '2022-12-30T16:57:59Z'
                        Name: pawan rai
                        Role: Admin
                        Status: Internal
                      - Email: pawan12@qiott.com
                        Group: null
                        InvitedAt: '2022-12-30T17:02:46Z'
                        InvitedBy: pawan rai
                        LastLoginAt: null
                        Name: null
                        Role: User
                        Status: Pending
                      - Email: 1secaml@qiott.com
                        Group: null
                        InvitedAt: '2022-12-30T17:02:46Z'
                        InvitedBy: pawan rai
                        LastLoginAt: null
                        Name: null
                        Role: Admin
                        Status: Pending
        '401':
          description: Get all member and invited users Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Get all member and invited users Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/organization/service-accounts:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Service Account
      summary: Get All Service Accounts
      description: Get All Service Accounts
      operationId: getAllServiceAccounts
      responses:
        '200':
          description: Get All Service Accounts Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        group:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 814
                            name:
                              type: string
                              example: g2
                          nullable: true
                        id:
                          type: number
                          example: 407938
                        name:
                          type: string
                          example: pawan Groupupdated
                        created_at:
                          type: string
                          example: 2023-02-15T13:06:55Z
                    example:
                      - group:
                          id: 814
                          name: g2
                        id: 407938
                        name: pawan Groupupdated
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 407939
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 407943
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 412429
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 809
                          name: g6
                        id: 412430
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 815
                          name: g5
                        id: 412431
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group: null
                        id: 412432
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 412433
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
              examples:
                Get All Service Accounts Success:
                  value:
                    data:
                      - group:
                          id: 814
                          name: g2
                        id: 407938
                        name: pawan Groupupdated
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 407939
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 407943
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 412429
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 809
                          name: g6
                        id: 412430
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 815
                          name: g5
                        id: 412431
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group: null
                        id: 412432
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
                      - group:
                          id: 814
                          name: g2
                        id: 412433
                        name: pawan rai
                        created_at: 2023-02-15T13:06:55Z
        '401':
          description: Get All Service Accounts Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Get All Service Accounts Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Service Account
      summary: Create Service Account
      description: Create Service Account
      operationId: createServiceAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: number
                  example: 814
                name:
                  type: string
                  example: pawan rai
            example:
              group_id: 814
              name: pawan rai
      responses:
        '200':
          description: Create Service Accounts Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 814
                      name:
                        type: string
                        example: g2
                  message:
                    type: string
                    example: Service Account Created SuccessFully
                  name:
                    type: string
                    example: pawan rai
                  type:
                    type: string
                    example: success
                  id:
                    type: number
                    example: 515639
              examples:
                Create Service Accounts Success:
                  value:
                    group:
                      id: 814
                      name: g2
                    message: Service Account Created SuccessFully
                    name: pawan rai
                    type: success
                    id: 515639
        '422':
          description: Create Service Accounts Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Something went wrong! Group not found
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Create Service Accounts Failure:
                  value:
                    message: Something went wrong! Group not found
                    title: Bad Request Error
                    type: error
  /api/organization/service-accounts/{id}:
    put:
      security:
        - basicAuth: [ ]
      tags:
        - Service Account
      summary: Update Service Account
      description: Update Service Account
      operationId: updateServiceAccount
      parameters:
      - name: id
        in: path
        description: ID of Service Account
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: pawan rai
            example:
              name: pawan rai
      responses:
        '200':
          description: Update Service Accounts Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Service Account updated successfully
                  type:
                    type: string
                    example: success
              examples:
                Update Service Accounts Success:
                  value:
                    message: Service Account updated successfully
                    type: success
        '401':
          description: Update Service Accounts Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Update Service Accounts Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
    delete:
      security:
        - basicAuth: [ ]
      tags:
        - Service Account
      summary: Delete service account
      description: Delete service account
      operationId: deleteServiceAccount
      parameters:
      - name: id
        in: path
        description: ID of Service Account
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Delete service accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Service Account Deleted SuccessFully
                  type:
                    type: string
                    example: success
              examples:
                Delete service accounts:
                  value:
                    message: Service Account Deleted SuccessFully
                    type: success
        '422':
          description: Delete service accounts with invalid user id
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! User not found or invalid
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Delete service accounts with invalid user id:
                  value:
                    message: Sorry! User not found or invalid
                    title: Bad Request Error
                    type: error
  /api/organization/invites/users:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Invites Users
      summary: Invite user with Group
      description: Invite user with Group
      operationId: inviteUserWithGroup
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                    example: xyz2@lambdatest.com
                  group_id:
                    type: number
                    example: 803
                  role:
                    type: string
                    example: User
              example:
                - email: xyz2@lambdatest.com
                  group_id: 803
                  role: User
            example:
              - email: xyz2@lambdatest.com
                group_id: 803
                role: User
      responses:
        '200':
          description: Invite user with Group
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invite Sent Successfully
                  type:
                    type: string
                    example: success
              examples:
                Invite user with Group:
                  value:
                    message: Invite Sent Successfully
                    type: success
  /api/organization/invites:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Invites Users
      summary: Get invited users
      description: Get invited users
      operationId: getInvitedUsers
      responses:
        '200':
          description: Get invited users
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:09:08 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        accepted_at:
                          type: string
                          example: '2022-12-30T17:01:19Z'
                        group:
                          type: object
                          nullable: true
                          example: null
                        id:
                          type: number
                          example: 9131
                        recipient_email:
                          type: string
                          example: kliosbuhek@qiott.com
                        role:
                          type: string
                          example: User
                        sender:
                          type: object
                          properties:
                            email:
                              type: string
                              example: pawan17@lambdatest.com
                            id:
                              type: number
                              example: 407868
                            name:
                              type: string
                              example: pawan rai
                        sent_at:
                          type: string
                          example: '2022-12-30T17:00:51Z'
                        status:
                          type: string
                          example: Accepted
                    example:
                      - accepted_at: '2022-12-30T17:01:19Z'
                        group: null
                        id: 9131
                        recipient_email: kliosbuhek@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:00:51Z'
                        status: Accepted
                      - group: null
                        id: 9132
                        recipient_email: pawan12@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:02:46Z'
                        status: Withdrawn
                      - group: null
                        id: 9133
                        recipient_email: 1secaml@qiott.com
                        role: Admin
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:02:46Z'
                        status: Pending
                      - group: null
                        id: 9134
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:47:55Z'
                        status: Withdrawn
                      - group: null
                        id: 9144
                        recipient_email: pawan12@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:04:03Z'
                        status: Pending
                      - group: null
                        id: 9145
                        recipient_email: 1secaml@qiott.com
                        role: Admin
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:04:03Z'
                        status: Withdrawn
                      - group: null
                        id: 9146
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:07:24Z'
                        status: Withdrawn
                      - group:
                          id: 814
                          name: g2
                        id: 9147
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:08:45Z'
                        status: Pending
              examples:
                Get invited users:
                  value:
                    data:
                      - accepted_at: '2022-12-30T17:01:19Z'
                        group: null
                        id: 9131
                        recipient_email: kliosbuhek@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:00:51Z'
                        status: Accepted
                      - group: null
                        id: 9132
                        recipient_email: pawan12@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:02:46Z'
                        status: Withdrawn
                      - group: null
                        id: 9133
                        recipient_email: 1secaml@qiott.com
                        role: Admin
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:02:46Z'
                        status: Pending
                      - group: null
                        id: 9134
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2022-12-30T17:47:55Z'
                        status: Withdrawn
                      - group: null
                        id: 9144
                        recipient_email: pawan12@qiott.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:04:03Z'
                        status: Pending
                      - group: null
                        id: 9145
                        recipient_email: 1secaml@qiott.com
                        role: Admin
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:04:03Z'
                        status: Withdrawn
                      - group: null
                        id: 9146
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:07:24Z'
                        status: Withdrawn
                      - group:
                          id: 814
                          name: g2
                        id: 9147
                        recipient_email: xyz2@lambdatest.com
                        role: User
                        sender:
                          email: pawan17@lambdatest.com
                          id: 407868
                          name: pawan rai
                        sent_at: '2023-01-02T08:08:45Z'
                        status: Pending
        '401':
          description: Get invited users without auth
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:09:27 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Get invited users without auth:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/organization/invite/{invite_id}:
    put:
      security:
        - basicAuth: [ ]
      tags:
        - Invites Users
      summary: Resend Invite
      description: Resend Invite
      operationId: resendInvite
      parameters:
      - name: invite_id
        in: path
        description: Invitation ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Resend Invite Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 11:43:27 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Resent Invitiation Successfully
                  type:
                    type: string
                    example: success
              examples:
                Resend Invite Success:
                  value:
                    message: Resent Invitiation Successfully
                    type: success
        '422':
          description: Resend Invite Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:03:17 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry, Invalid invite
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Resend Invite Failure:
                  value:
                    message: Sorry, Invalid invite
                    title: Bad Request Error
                    type: error
    delete:
      security:
        - basicAuth: [ ]
      tags:
        - Invites Users
      summary: Delete invite user
      description: Delete invite user
      operationId: deleteInviteUser
      parameters:
      - name: invite_id
        in: path
        description: Invitation ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Delete invite user Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:02:37 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invite user deleted Successfully
                  type:
                    type: string
                    example: success
              examples:
                Delete invite user Success:
                  value:
                    message: Invite user deleted Successfully
                    type: success
        '403':
          description: Delete invite user for withdrawn user
          headers:
            Date:
              schema:
                type: string
                example: Fri, 30 Dec 2022 18:31:27 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Delete invite user for withdrawn user:
                  value:
                    message: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                    title: Unauthorized Error
                    type: error
  /api/organization/service-accounts/{id}/token:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Token
      summary: Generate Service Account token
      description: Generate Service Account token
      operationId: GenerateServiceAccountToken
      parameters:
      - name: id
        in: path
        description: Service Account ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          text/plain:
            example: ''
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Fri, 30 Dec 2022 18:30:18 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token generated successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 421827
                      token:
                        type: string
                        example: bmrt4HX52bTcOHniFl3HAA9G4ehQHnLqUkGmLPRVxfef4iIBVZ
                      user_id:
                        type: number
                        example: 407938
                      username:
                        type: string
                        example: 4152033k0HaL6tuC
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token generated successfully
                    token:
                      id: 421827
                      token: bmrt4HX52bTcOHniFl3HAA9G4ehQHnLqUkGmLPRVxfef4iIBVZ
                      user_id: 407938
                      username: 4152033k0HaL6tuC
                    type: success
        '401':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:13:38 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Unauthenticated.
                    title: Unauthorized Error
                    type: error
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Token
      summary: Fetch Service Account Token
      description: Fetch Service Account Token
      operationId: fetchServiceAccountToken
      parameters:
      - name: id
        in: path
        description: Service Account ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:19:59 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token retrieved successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 426314
                      token:
                        type: string
                        example: EwnnWltfbiauIWQcGp5R6WlgIZgiP0FIuNszYIM8qP4NSuwveC
                      user_id:
                        type: number
                        example: 407939
                      username:
                        type: string
                        example: 415203LOjvQIAizR
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token retrieved successfully
                    token:
                      id: 426314
                      token: EwnnWltfbiauIWQcGp5R6WlgIZgiP0FIuNszYIM8qP4NSuwveC
                      user_id: 407939
                      username: 415203LOjvQIAizR
                    type: success
        '403':
          description: Fetch Service Account Token other org user_id
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:19:31 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Fetch Service Account Token other org user_id:
                  value:
                    message: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                    title: Unauthorized Error
                    type: error
        '422':
          description: Fetch Service Account Token wrong user id
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:19:04 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! User not found or invalid
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Fetch Service Account Token wrong user id:
                  value:
                    message: Sorry! User not found or invalid
                    title: Bad Request Error
                    type: error
  /api/organization/users/{user_id}/token:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Token
      summary: Regen token by admin
      description: Regen token by admin
      operationId: regenTokenByAdmin
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          text/plain:
            example: ''
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:15:39 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token generated successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 426313
                      token:
                        type: string
                        example: iodiOqGDsjE27MfFROUa0OZzCpJnGDmHmKiHwrogtbuEDOLqIt
                      user_id:
                        type: number
                        example: 407939
                      username:
                        type: string
                        example: 415203LOjvQIAizR
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token generated successfully
                    token:
                      id: 426313
                      token: iodiOqGDsjE27MfFROUa0OZzCpJnGDmHmKiHwrogtbuEDOLqIt
                      user_id: 407939
                      username: 415203LOjvQIAizR
                    type: success
        '403':
          description: Regen token by admin other org user id
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:16:09 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Regen token by admin other org user id:
                  value:
                    message: >-
                      Please, contact administration as you don't have right
                      privileges to permform this action
                    title: Unauthorized Error
                    type: error
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Token
      summary: Fetch user token by admin
      description: Fetch user token by admin
      operationId: fetchUserTokenByAdmin
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:20:23 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token retrieved successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 426312
                      token:
                        type: string
                        example: 6KVBcEhO9iMdGXnZbxh8Ki19tNEX8GPpYjGPP5ivKHfKMUkF9s
                      user_id:
                        type: number
                        example: 407868
                      username:
                        type: string
                        example: pawan17
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token retrieved successfully
                    token:
                      id: 426312
                      token: 6KVBcEhO9iMdGXnZbxh8Ki19tNEX8GPpYjGPP5ivKHfKMUkF9s
                      user_id: 407868
                      username: pawan17
                    type: success
        '422':
          description: Invalid Users
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:24:12 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! User not found or invalid
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Invalid Users:
                  value:
                    message: Sorry! User not found or invalid
                    title: Bad Request Error
                    type: error
  /api/user/password:
    patch:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: User Password
      description: User Password
      operationId: userPassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                new_password:
                  type: string
                  example: password3
                password:
                  type: string
                  example: password
            example:
              new_password: password3
              password: password
      responses:
        '200':
          description: User Password Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 07:17:42 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password changed successfully, Please login again!
                  type:
                    type: string
                    example: success
              examples:
                User Password Success:
                  value:
                    message: Password changed successfully, Please login again!
                    type: success
        '422':
          description: User Password Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 07:17:20 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please do not use last used passwords
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                User Password Failure:
                  value:
                    message: Please do not use last used passwords
                    title: Bad Request Error
                    type: error
  /api/user/token:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: Fetch token by users
      description: Fetch token by users
      operationId: fetchTokenByUsers
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:17:06 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token retrieved successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 426312
                      token:
                        type: string
                        example: 6KVBcEhO9iMdGXnZbxh8Ki19tNEX8GPpYjGPP5ivKHfKMUkF9s
                      user_id:
                        type: number
                        example: 407868
                      username:
                        type: string
                        example: pawan17
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token retrieved successfully
                    token:
                      id: 426312
                      token: 6KVBcEhO9iMdGXnZbxh8Ki19tNEX8GPpYjGPP5ivKHfKMUkF9s
                      user_id: 407868
                      username: pawan17
                    type: success
        '401':
          description: Fetch token by users Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:17:59 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Fetch token by users Failure:
                  value:
                    message: Unauthenticated.
                    title: Unauthorized Error
                    type: error
  /api/users/token:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: Generate token by user
      description: Generate token by user
      operationId: GenerateTokenByUser
      requestBody:
        content:
          text/plain:
            example: ''
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Fri, 30 Dec 2022 17:59:13 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token generated successfully
                  token:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 421758
                      token:
                        type: string
                        example: moZ9TJNna0e5CJ744Ab0e7SBIhXRywG5DiaZzmd9atYQk6WNBv
                      user_id:
                        type: number
                        example: 407868
                      username:
                        type: string
                        example: pawan17
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Access Token generated successfully
                    token:
                      id: 421758
                      token: moZ9TJNna0e5CJ744Ab0e7SBIhXRywG5DiaZzmd9atYQk6WNBv
                      user_id: 407868
                      username: pawan17
                    type: success
        '401':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 08:12:21 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Unauthenticated.
                    title: Unauthorized Error
                    type: error
  /api/user:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: Edit name by User
      description: Edit name by User
      operationId: editNameByUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: pawan rai
            example:
              name: pawan rai
      responses:
        '200':
          description: Edit name User success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 07:12:31 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User profile updated successfully
                  type:
                    type: string
                    example: success
              examples:
                Edit name User success:
                  value:
                    message: User profile updated successfully
                    type: success
        '400':
          description: Edit name User Fail
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 07:12:57 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry, Body payload should not be empty
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Edit name User Fail:
                  value:
                    message: Sorry, Body payload should not be empty
                    title: Bad Request Error
                    type: error
        '401':
          description: Edit name User Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 07:13:33 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Edit name User Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/user/preference:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: Getting User Preference
      description: Getting User Preference
      operationId: gettingUserPreference
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:48:09 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      example: >-
                        Describe email type here so that it becomes easy for
                        user to understand
                    label:
                      type: string
                      example: automation
                    name:
                      type: string
                      example: Automation Daily
                    value:
                      type: number
                      example: 0
                example:
                  - description: >-
                      Describe email type here so that it becomes easy for user
                      to understand
                    label: automation
                    name: Automation Daily
                    value: 0
                  - description: >-
                      Describe email type here so that it becomes easy for user
                      to understand
                    label: marketing
                    name: offers and deals
                    value: 0
                  - description: >-
                      Describe email type here so that it becomes easy for user
                      to understand
                    label: newsletter
                    name: Newsletters
                    value: 0
                  - description: Get notified when we release something new
                    label: product
                    name: Product Updates
                    value: 1
                  - description: >-
                      Describe email type here so that it becomes easy for user
                      to understand
                    label: weekly
                    name: Weekly Reports
                    value: 1
              examples:
                Success:
                  value:
                    - description: >-
                        Describe email type here so that it becomes easy for
                        user to understand
                      label: automation
                      name: Automation Daily
                      value: 0
                    - description: >-
                        Describe email type here so that it becomes easy for
                        user to understand
                      label: marketing
                      name: offers and deals
                      value: 0
                    - description: >-
                        Describe email type here so that it becomes easy for
                        user to understand
                      label: newsletter
                      name: Newsletters
                      value: 0
                    - description: Get notified when we release something new
                      label: product
                      name: Product Updates
                      value: 1
                    - description: >-
                        Describe email type here so that it becomes easy for
                        user to understand
                      label: weekly
                      name: Weekly Reports
                      value: 1
        '401':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:48:28 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/user/preference/{product}:
    patch:
      security:
        - basicAuth: [ ]
      tags:
        - User Profile
      summary: Updating user preference
      description: Updating user preference
      operationId: updatingUserPreference
      parameters:
      - name: product
        in: path
        description: Product name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:49:09 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Preference is Updated successfully.
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Preference is Updated successfully.
                    type: success
        '401':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:49:29 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/organization/support-access:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Support Access
      summary: Get Support Access history
      description: Get Support Access history
      operationId: getSupportAccessHistory
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:43:34 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_granted:
                    type: number
                    example: 1
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        access_granted_at:
                          type: string
                          example: '2023-01-19T19:42:54Z'
                        access_granted_by:
                          type: string
                          example: ''
                        access_revoked_at:
                          type: string
                          example: '2023-01-19T19:43:20Z'
                        access_revoked_by:
                          type: string
                          example: pawan rai
                        status:
                          type: string
                          example: Revoked
                        updated_at:
                          type: string
                          example: '2023-01-19T19:42:54Z'
                    example:
                      - access_granted_at: '2023-01-19T19:42:54Z'
                        access_granted_by: ''
                        access_revoked_at: '2023-01-19T19:43:20Z'
                        access_revoked_by: pawan rai
                        status: Revoked
                        updated_at: '2023-01-19T19:42:54Z'
                      - access_granted_at: '2023-01-19T19:43:28Z'
                        access_granted_by: ''
                        access_revoked_at: '0001-01-01T00:00:00Z'
                        access_revoked_by: pawan rai
                        status: Active
                        updated_at: '2023-01-19T19:43:28Z'
              examples:
                Success:
                  value:
                    access_granted: 1
                    history:
                      - access_granted_at: '2023-01-19T19:42:54Z'
                        access_granted_by: ''
                        access_revoked_at: '2023-01-19T19:43:20Z'
                        access_revoked_by: pawan rai
                        status: Revoked
                        updated_at: '2023-01-19T19:42:54Z'
                      - access_granted_at: '2023-01-19T19:43:28Z'
                        access_granted_by: ''
                        access_revoked_at: '0001-01-01T00:00:00Z'
                        access_revoked_by: pawan rai
                        status: Active
                        updated_at: '2023-01-19T19:43:28Z'
        '401':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:43:59 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
  /api/organization/support-access/grant:
    put:
      security:
        - basicAuth: [ ]
      tags:
        - Support Access
      summary: Grant Support Access
      description: Grant Support Access
      operationId: grantSupportAccess
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:44:57 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Support Access Granted Successfully
                  type:
                    type: string
                    example: Success
              examples:
                Success:
                  value:
                    message: Support Access Granted Successfully
                    type: Success
        '422':
          description: Failure
          headers:
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            CF-RAY:
              schema:
                type: string
                example: 79199dee5ffc85a2-BOM
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '103'
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:45:14 GMT
            Server:
              schema:
                type: string
                example: cloudflare
            alt-svc:
              schema:
                type: string
                example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Support Access already active for organization
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Support Access already active for organization
                    title: Bad Request Error
                    type: error
  /api/organization/support-access/revoke:
    put:
      security:
        - basicAuth: [ ]
      tags:
        - Support Access
      summary: Revoke Support Access
      description: Revoke Support Access
      operationId: revokeSupportAccess
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:46:37 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Support Access Revoked Successfully
                  type:
                    type: string
                    example: Success
              examples:
                Success:
                  value:
                    message: Support Access Revoked Successfully
                    type: Success
        '422':
          description: Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 10:46:13 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Support Access already Revoked for this  organization
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Failure:
                  value:
                    message: Support Access already Revoked for this  organization
                    title: Bad Request Error
                    type: error
  /api/v1/organization/group:
    post:
      security:
        - basicAuth: [ ]
      tags:
        - Groups
      summary: Create Group
      description: Create Group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Group1
                users:
                  type: array
                  items:
                    type: number
                    example: 499960
                allocated_concurrency:
                  type: object
                  properties:
                      prod_KUHg1I1YdCPH3Z:
                        type: number
                        example: 4
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:20:14 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Group created successfully!
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Group created successfully!
                    type: success
        '422':
          description: Invalid product ID error
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:22:31 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Given Product concurrency are invalid ,
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Invalid product ID error:
                  value:
                    message: Sorry! Given Product concurrency are invalid ,
                    title: Bad Request Error
                    type: error
    patch:
      security:
        - basicAuth: [ ]
      tags:
        - Groups
      summary: Make Default Group
      description: Make Default Group
      operationId: makeDefaultGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: number
                  example: 1010
            example:
              group_id: 1010
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:29:02 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Default Group Updated Successfully
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Default Group Updated Successfully
                    type: success
        '422':
          description: Invalid Group ID error
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:30:02 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Error while updating org group for users
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Invalid Group ID error:
                  value:
                    message: Error while updating org group for users
                    title: Bad Request Error
                    type: error
  /api/v1/organization/groups:
    get:
      security:
        - basicAuth: [ ]
      tags:
        - Groups
      summary: Get all Groups
      description: Get all Groups
      operationId: getAllGroups
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:23:01 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      available_concurrency:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              example: prod_KUHcM296xEk2Cy
                            product_name:
                              type: string
                              example: Manual Testing - Live
                            value:
                              type: number
                              example: 3
                        example:
                          - key: prod_KUHcM296xEk2Cy
                            product_name: Manual Testing - Live
                            value: 3
                      groups:
                        type: array
                        items:
                          type: object
                          properties:
                            allocated_concurrency:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    example: prod_KUHcM296xEk2Cy
                                  product_name:
                                    type: string
                                    example: Manual Testing - Live
                                  value:
                                    type: number
                                    example: 3
                              example:
                                - key: prod_KUHcM296xEk2Cy
                                  product_name: Manual Testing - Live
                                  value: 3
                            id:
                              type: number
                              example: 1011
                            is_default_group:
                              type: number
                              example: 1
                            name:
                              type: string
                              example: G1
                            service_accounts:
                              type: number
                              example: 3
                            total_users:
                              type: number
                              example: 4
                        example:
                          - allocated_concurrency:
                              - key: prod_KUHcM296xEk2Cy
                                product_name: Manual Testing - Live
                                value: 3
                            id: 1011
                            is_default_group: 1
                            name: G1
                            service_accounts: 3
                            total_users: 4
              examples:
                Success:
                  value:
                    data:
                      available_concurrency:
                        - key: prod_KUHcM296xEk2Cy
                          product_name: Manual Testing - Live
                          value: 3
                      groups:
                        - allocated_concurrency:
                            - key: prod_KUHcM296xEk2Cy
                              product_name: Manual Testing - Live
                              value: 3
                          id: 1011
                          is_default_group: 1
                          name: G1
                          service_accounts: 3
                          total_users: 4
        '401':
          description: Get All Groups Failure
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:23:17 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Authentication token is missing or invalid
                  title:
                    type: string
                    example: Unauthorized Error
                  type:
                    type: string
                    example: error
              examples:
                Get All Groups Failure:
                  value:
                    message: Sorry! Authentication token is missing or invalid
                    title: Unauthorized Error
                    type: error
    put:
      security:
        - basicAuth: [ ]
      tags:
        - Groups
      summary: Update multiple Group
      description: Update multiple Group
      operationId: updateMultipleGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groups:
                  type: array
                  items:
                    type: object
                    properties:
                      allocated_concurrency:
                        type: object
                        properties:
                          prod_KUHcM296xEk2Cy:
                            type: number
                            example: 4
                      id:
                        type: number
                        example: 1011
                  example:
                    - allocated_concurrency:
                        prod_KUHcM296xEk2Cy: 4
                      id: 1011
            example:
              groups:
                - allocated_concurrency:
                    prod_KUHcM296xEk2Cy: 4
                  id: 1011
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:47:45 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Group updated successfully!
                  type:
                    type: string
                    example: success
              examples:
                Success:
                  value:
                    message: Group updated successfully!
                    type: success
        '422':
          description: Invalid Product ID'
          headers:
            Date:
              schema:
                type: string
                example: Mon, 30 Jan 2023 11:48:42 GMT
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sorry! Given Product concurrency are invalid ,,
                  title:
                    type: string
                    example: Bad Request Error
                  type:
                    type: string
                    example: error
              examples:
                Invalid Product ID':
                  value:
                    message: Sorry! Given Product concurrency are invalid ,,
                    title: Bad Request Error
                    type: error
  /api/v1/organization/group/{group_id}:
    get:
[...]
