openapi: 3.0.3
info:
  title: TestMu AI Agent Testing API Documentation
  version: 1.0.0
  description: 'API reference for the Agent Testing product: create projects, author test scenarios, run
    phone/chat/voice agent tests, and retrieve results. Authentication uses your LambdaTest username and
    access key.'
servers:
- url: https://agent-testing.lambdatest.com
paths:
  /api/health:
    get:
      tags:
      - Platform
      summary: Health Check
      operationId: health_check_api_health_get
      responses:
        '200':
          description: Service liveness, initialization state and upload limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthEnvelopeDoc'
  /api/projects:
    get:
      tags:
      - Projects
      summary: Get Agent Projects
      description: Get all agent projects for the current organization.
      operationId: get_agent_projects_api_projects_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Page
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 999
          title: Per Page
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProjectListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
    post:
      tags:
      - Projects
      summary: Create Agent Project
      description: Create a new agent project.
      operationId: create_agent_project_api_projects_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentProjectRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}:
    put:
      tags:
      - Projects
      summary: Update Agent Project
      description: Update an existing agent project.
      operationId: update_agent_project_api_projects__project_id__put
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentProjectRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
    delete:
      tags:
      - Projects
      summary: Delete Project
      description: Delete a project and all its related data.
      operationId: delete_project_api_projects__project_id__delete
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: Deletion acknowledgement; data is always null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeletedEnvelopeDoc'
        '404':
          description: Project not found
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/workflows:
    get:
      tags:
      - Projects
      summary: Get Project Workflows
      description: Get all workflow IDs for a project.
      operationId: get_project_workflows_api_projects__project_id__workflows_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: BaseResponse envelope; data.workflows lists workflow summaries, newest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWorkflowsEnvelopeDoc'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/agent-profiles:
    get:
      tags:
      - Agent Profiles
      summary: Get Agent Profiles
      description: Get all agent profiles for the organization.
      operationId: get_agent_profiles_api_agent_profiles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfileListResponse'
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
    post:
      tags:
      - Agent Profiles
      summary: Create Agent Profile
      description: Create a new agent profile.
      operationId: create_agent_profile_api_agent_profiles_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentProfileRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
    delete:
      tags:
      - Agent Profiles
      summary: Delete Agent Profiles
      description: 'Delete agent profiles.


        Note: this endpoint takes no path parameter — the profile ids to delete

        are passed in the request body.'
      operationId: delete_agent_profiles_api_agent_profiles_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAgentProfileRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfileListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/agent-profiles/{profile_id}:
    put:
      tags:
      - Agent Profiles
      summary: Update Agent Profile
      description: Update an existing agent profile.
      operationId: update_agent_profile_api_agent_profiles__profile_id__put
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          title: Profile Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentProfileRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/phone-scenarios/generate:
    post:
      tags:
      - Phone Testing
      summary: Generate Phone Scenarios
      description: 'Generate phone test scenarios (inbound — the simulator calls the bot).


        Generation may run in the background; generated scenarios are saved

        automatically. Poll GET /api/projects/{project_id}/phone-scenarios/saved

        to retrieve them, and delete any you don''t want to keep.'
      operationId: generate_phone_scenarios_api_projects__project_id__phone_scenarios_generate_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePhoneScenariosRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneScenarioResponse'
        '402':
          description: Insufficient credits for scenario generation
          content:
            application/json:
              example:
                detail: Insufficient credits.
        '403':
          description: Project not found or not accessible to the caller's organization
          content:
            application/json:
              example:
                detail: Access denied.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/phone-scenarios/saved:
    get:
      tags:
      - Phone Testing
      summary: Get Saved Phone Scenarios
      description: Get all saved phone scenarios for a project.
      operationId: get_saved_phone_scenarios_api_projects__project_id__phone_scenarios_saved_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/phone-scenarios/create:
    post:
      tags:
      - Phone Testing
      summary: Create Phone Scenario
      description: Create a new phone scenario manually. Credits are charged for the LLM usage.
      operationId: create_phone_scenario_api_projects__project_id__phone_scenarios_create_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScenarioResponse'
        '402':
          description: Insufficient credits to create the scenario
          content:
            application/json:
              example:
                detail: Insufficient credits.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/phone-scenarios/edit:
    put:
      tags:
      - Phone Testing
      summary: Edit Phone Scenario
      description: Edit an existing phone scenario.
      operationId: edit_phone_scenario_api_projects__project_id__phone_scenarios_edit_put
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditScenarioResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/phone-scenarios/delete:
    delete:
      tags:
      - Phone Testing
      summary: Delete Phone Scenarios
      description: Delete phone scenarios for a project.
      operationId: delete_phone_scenarios_api_projects__project_id__phone_scenarios_delete_delete
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/suites:
    post:
      tags:
      - Phone Testing
      summary: Create Suite
      description: Create a new suite.
      operationId: create_suite_api_suites_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/suites/{project_id}:
    get:
      tags:
      - Phone Testing
      summary: Get Suites By Project
      description: 'Get all suites for a given project, optionally filtered by workflow_id.


        Note: the path parameter is a PROJECT id (this lists the project''s

        suites); suite-scoped operations take a suite id instead.'
      operationId: get_suites_by_project_api_suites__project_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      - name: workflow_id
        in: query
        required: false
        schema:
          description: Optional workflow ID to filter suites for chat agents
          title: Workflow Id
          type: string
          nullable: true
        description: Optional workflow ID to filter suites for chat agents
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/suites/{suite_id}/summary:
    get:
      tags:
      - Phone Testing
      summary: Get aggregated suite summary statistics
      description: Get aggregated summary statistics for a suite.
      operationId: get_suite_summary_api_suites__suite_id__summary_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: suite_id
        in: path
        required: true
        schema:
          type: string
          title: Suite Id
      - name: days
        in: query
        required: false
        schema:
          description: Filter results by the last N days
          title: Days
          type: integer
          nullable: true
        description: Filter results by the last N days
      - name: start_date
        in: query
        required: false
        schema:
          description: Start date for custom range (ISO format)
          title: Start Date
          type: string
          nullable: true
        description: Start date for custom range (ISO format)
      - name: end_date
        in: query
        required: false
        schema:
          description: End date for custom range (ISO format)
          title: End Date
          type: string
          nullable: true
        description: End date for custom range (ISO format)
      - name: project_id
        in: query
        required: false
        schema:
          description: Project ID to validate suite ownership
          title: Project Id
          type: string
          nullable: true
        description: Project ID to validate suite ownership
      responses:
        '200':
          description: Read-only aggregates computed from stored call results. A suite with no results
            in range returns empty aggregates and omits the scenario-level and debug keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteSummaryDoc'
              example:
                suite_id: suite_8f2c1a
                suite_name: Order status regression
                total_calls: 24
                overall_stats:
                  pass_rate_percentage: 79.2
                  average_score: 84.1
                  passed: 19
                  failed: 3
                  needs_improvement: 2
                metrics_breakdown:
                  accuracy_effectiveness:
                    task_completion_success_rate_percentage: 88.4
                  user_experience:
                    csat_customer_satisfaction_percentage: 81.0
                issue_tags_summary:
                - tag: long_silence
                  count: 4
                improvement_areas:
                - category: user_experience
                  metric: csat_customer_satisfaction_percentage
                  threshold: 85
                  current_value: 81.0
                  severity: medium
                  total_affected_scenarios: 2
                call_details:
                  status_breakdown:
                    passed: 19
                    failed: 3
                    needs_improvement: 2
                  duration_stats:
                    average_seconds: 96.4
                    min_seconds: 41.2
                    max_seconds: 210.8
        '404':
          description: Suite not found, not accessible, or not in the specified project
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/initiatecall:
    post:
      tags:
      - Phone Testing
      summary: Initiate phone calls for scenarios
      description: Initiate phone calls for given scenarios.
      operationId: initiate_call_api_initiatecall_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCallRequest'
        required: true
      responses:
        '200':
          description: Calls dispatched (or enqueued for suite triggers). `data` carries the per-scenario
            `call_ids`; suite triggers additionally include `suite_run_id`, `total`, `started`, and `queued`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateCallResponse'
        '400':
          description: Invalid request (unknown scenarios, bad matrix configuration, etc.)
          content:
            application/json:
              example:
                detail: Invalid request (unknown scenarios, bad matrix configuration, etc.).
        '402':
          description: Insufficient credits to place the requested calls
          content:
            application/json:
              example:
                detail: Insufficient credits.
        '403':
          description: Project or suite not found in this organization
          content:
            application/json:
              example:
                detail: Access denied.
        '409':
          description: Parallel-call cap reached for a single-call (non-suite) trigger
          content:
            application/json:
              example:
                detail: Parallel-call cap reached for a single-call (non-suite) trigger.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/initiatecall/project:
    post:
      tags:
      - Phone Testing
      summary: Initiate calls for a suite by name
      description: 'Initiate phone calls for every scenario in a named suite.


        Send a JSON body with ``project_id`` and ``suite_name``; the suite''s

        scenarios are dialed and results appear under the suite''s call results.'
      operationId: initiate_call_by_suite_api_initiatecall_project_post
      requestBody:
        content:
          application/json:
            schema:
              properties:
                project_id:
                  type: string
                  description: Project the suite belongs to
                suite_name:
                  type: string
                  description: Name of the suite whose scenarios should be dialed
              type: object
              required:
              - project_id
              - suite_name
            example:
              project_id: 3f2b8c1a-9d64-4e07-b5a2-8c1f6d093e47
              suite_name: Regression Suite
        required: true
      responses:
        '200':
          description: Calls initiated — data carries the per-scenario call_ids; suite triggers additionally
            include suite_run_id, total, started, and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateCallResponse'
        '400':
          description: project_id and suite_name are required (or the suite has no scenarios configured)
          content:
            application/json:
              example:
                detail: project_id and suite_name are required (or the suite has no scenarios configured).
        '402':
          description: Insufficient credits to place the requested calls
          content:
            application/json:
              example:
                detail: Insufficient credits.
        '404':
          description: Suite not found with that name in the project
          content:
            application/json:
              example:
                detail: Not found.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/callresults/{suite_id}:
    get:
      tags:
      - Phone Testing
      summary: Get all call results for a suite
      description: Get all call results for a suite.
      operationId: get_suite_call_results_api_callresults__suite_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: suite_id
        in: path
        required: true
        schema:
          type: string
          title: Suite Id
      responses:
        '200':
          description: Full call results including shaped transcripts and threshold configs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteCallResultsDoc'
              example:
                suite_id: suite_8f2c1a
                suite_name: Order status regression
                project_id: proj_4d9e21
                results:
                - id: cr_01j9x2
                  scenario_id: scn_7a1b3c
                  scenario_title: Ask for order status
                  call_id: c3a1f5e2-7b41-4e0a-9d2c-1f6b8a3e5d90
                  result:
                    status: ended
                    endedReason: customer-ended-call
                    recordingUrl: /api/audio/c3a1f5e2-7b41-4e0a-9d2c-1f6b8a3e5d90/recording.wav
                    startedAt: '2026-07-28T09:14:03Z'
                    endedAt: '2026-07-28T09:16:41Z'
                    messages:
                    - role: assistant
                      message: Hi, how can I help you today?
                      secondsFromStart: 1.4
                    audio_analysis:
                      qualitative_evaluation:
                        overallResult: Pass
                  is_bookmarked: false
                  trigger_source: manual
                  prompt_version_number: 3
        '404':
          description: Suite not found in the caller's organization
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/call-result/{call_id}:
    get:
      tags:
      - Phone Testing
      summary: Get detailed call result
      description: 'Get the detailed result for a single call: transcript, evaluation, validation criteria,
        and metadata. Set include_audio=true to also include call audio data (slower).'
      operationId: get_call_result_api_call_result__call_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      - name: include_audio
        in: query
        required: false
        schema:
          type: boolean
          description: Include call audio data (slower)
          default: false
          title: Include Audio
        description: Include call audio data (slower)
      responses:
        '200':
          description: Shaped call result (same base shape as the metadata endpoint), optionally enriched
            with fresh voice-provider data when include_audio is set. The exact fields depend on provider
            and call state, and a first request for an unevaluated call marks it processing and queues
            a background analysis job.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid call_id (null, undefined, or empty)
          content:
            application/json:
              example:
                detail: Invalid call_id (null, undefined, or empty).
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/call-result/{call_id}/audio:
    get:
      tags:
      - Phone Testing
      summary: Get audio info for a call
      description: Get the audio playback information for a call recording.
      operationId: get_call_result_audio_api_call_result__call_id__audio_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      responses:
        '200':
          description: Recording/live-listen URLs and transcript for the call; external recording URLs
            are rewritten to the /api/audio proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResultAudioDoc'
        '400':
          description: Invalid call_id, or the org has no phone-agent configuration
          content:
            application/json:
              example:
                detail: Invalid call_id, or the org has no phone-agent configuration.
        '404':
          description: Recording not available yet
          content:
            application/json:
              example:
                detail: Not found.
        '500':
          description: Voice provider auth token not configured for the org
          content:
            application/json:
              example:
                detail: Voice provider auth token not configured for the org.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/results/{project_id}:
    get:
      tags:
      - Phone Testing
      summary: Get call results grouped by suite
      description: Get phone call results grouped by suite for a project.
      operationId: get_phone_call_results_by_project_api_results__project_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: Suites in the project with their scenario/call ID pairs; `suites` is empty when
            the project has no call results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneCallResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/start-workflow:
    post:
      tags:
      - Chat Testing
      summary: Start Workflow
      description: Starts a new, empty workflow and returns its ID.
      operationId: start_workflow_api_start_workflow_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartWorkflowRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/upload-document:
    post:
      tags:
      - Chat Testing
      summary: Upload Document
      description: Upload and process multiple documents for a given workflow.
      operationId: upload_document_api_upload_document_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_document_api_upload_document_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/process-sources:
    post:
      tags:
      - Chat Testing
      summary: Process Sources
      description: 'Process files from multiple sources (uploads, Confluence, JIRA, GitHub)

        and add them to the workflow.'
      operationId: process_sources_api_process_sources_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_process_sources_api_process_sources_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/start-test-generation/{workflow_id}:
    post:
      tags:
      - Chat Testing
      summary: Start Test Generation
      description: Start test-scenario generation for the workflow from its processed sources. Generation
        is asynchronous — poll GET /api/test-scenarios/{workflow_id} for the generated scenarios.
      operationId: start_test_generation_api_start_test_generation__workflow_id__post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateScenariosRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/test-scenarios/{workflow_id}:
    get:
      tags:
      - Chat Testing
      summary: Get Test Scenarios
      description: 'Get generated test scenarios for a workflow.


        Pagination is optional and backwards compatible: with no ``limit`` the full

        list is returned (legacy behaviour). When ``limit`` is provided the response

        ``data`` also carries ``total``/``limit``/``offset`` for the (optionally

        ``search``-filtered) list.'
      operationId: get_test_scenarios_api_test_scenarios__workflow_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      - name: project_id
        in: query
        required: true
        schema:
          type: string
          title: Project Id
      - name: limit
        in: query
        required: false
        schema:
          description: Page size. Omit to return all scenarios.
          title: Limit
          type: integer
          maximum: 500
          minimum: 1
          nullable: true
        description: Page size. Omit to return all scenarios.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of scenarios to skip.
          default: 0
          title: Offset
        description: Number of scenarios to skip.
      - name: search
        in: query
        required: false
        schema:
          description: Case-insensitive filter on title, description and persona.
          title: Search
          type: string
          nullable: true
        description: Case-insensitive filter on title, description and persona.
      - name: ids_only
        in: query
        required: false
        schema:
          type: boolean
          description: Return only the ids of all matching scenarios (ignores limit/offset). Used for
            'select all'.
          default: false
          title: Ids Only
        description: Return only the ids of all matching scenarios (ignores limit/offset). Used for 'select
          all'.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
    put:
      tags:
      - Chat Testing
      summary: Update Test Scenario
      description: Update a test scenario in a workflow (including custom 'Add your own' scenarios).
      operationId: update_test_scenario_api_test_scenarios__workflow_id__put
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTestScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/workflows/{workflow_id}/scenarios/create:
    post:
      tags:
      - Chat Testing
      summary: Create Chat Scenario
      description: Add a custom scenario to a chat workflow (Add your own scenario).
      operationId: create_chat_scenario_api_workflows__workflow_id__scenarios_create_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatScenarioResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/workflows/{workflow_id}/scenarios/delete:
    delete:
      tags:
      - Chat Testing
      summary: Delete Scenarios
      description: Delete scenarios from a chat agent workflow.
      operationId: delete_scenarios_api_workflows__workflow_id__scenarios_delete_delete
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      - name: project_id
        in: query
        required: true
        schema:
          type: string
          description: Project ID
          title: Project Id
        description: Project ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteScenarioRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/run-conversational-evaluation/{workflow_id}:
    post:
      tags:
      - Chat Testing
      summary: Run Conversational Evaluation
      description: Run conversational evaluation for the workflow's chat scenarios and persist the results.
        Poll GET /api/evaluation-results/{workflow_id} for the outcome.
      operationId: run_conversational_evaluation_api_run_conversational_evaluation__workflow_id__post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunEvaluationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/evaluation-results/{workflow_id}:
    get:
      tags:
      - Chat Testing
      summary: Get evaluation results for a workflow
      description: Get the conversational-evaluation results for the workflow's chat scenarios, including
        per-scenario verdicts and metrics.
      operationId: get_evaluation_results_api_evaluation_results__workflow_id__get
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      - name: project_id
        in: query
        required: false
        schema:
          title: Project Id
          type: string
          nullable: true
      - name: suite_id
        in: query
        required: false
        schema:
          title: Suite Id
          type: string
          nullable: true
      responses:
        '200':
          description: '`data.evaluation_results` carries the stored results (an object with a `results`
            list, or an empty list when none exist) plus the project''s effective threshold config, `overall_score_threshold`,
            and a top-level `hyperexecute_url` when a job is linked.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
              example:
                success: true
                message: Evaluation results retrieved successfully from the database.
                data:
                  evaluation_results:
                    results:
                    - scenario_id: scn_2b8d4f
                      scenario_title: Refund policy question
                      overall_score: 0.86
                      status: pass
                      conversation_history:
                      - role: user
                        content: What is your refund policy?
                      - role: assistant
                        content: You can return items within 30 days.
                  overall_score_threshold: 0.5
        '400':
          description: Invalid workflow ID
          content:
            application/json:
              example:
                detail: Invalid workflow ID.
        '413':
          description: Report exceeds the display limit
          content:
            application/json:
              example:
                detail: Report exceeds the display limit.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
        '403':
          description: Authenticated but not permitted for this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Access denied.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/workflows/{workflow_id}/summary:
    get:
      tags:
      - Chat Testing
      summary: Get Workflow Summary
      description: Get aggregated summary statistics for a workflow.
      operationId: get_workflow_summary_api_workflows__workflow_id__summary_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
          title: Workflow Id
      - name: days
        in: query
        required: false
        schema:
          description: Filter results by the last N days
          title: Days
          type: integer
          nullable: true
        description: Filter results by the last N days
      - name: start_date
        in: query
        required: false
        schema:
          description: Start date for custom range (ISO format)
          title: Start Date
          type: string
          nullable: true
        description: Start date for custom range (ISO format)
      - name: end_date
        in: query
        required: false
        schema:
          description: End date for custom range (ISO format)
          title: End Date
          type: string
          nullable: true
        description: End date for custom range (ISO format)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/workflows/summaries:
    get:
      tags:
      - Chat Testing
      summary: Get All Workflows Summaries
      description: Get summaries for all workflows in a project.
      operationId: get_all_workflows_summaries_api_projects__project_id__workflows_summaries_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      - name: days
        in: query
        required: false
        schema:
          description: Filter results by the last N days
          title: Days
          type: integer
          nullable: true
        description: Filter results by the last N days
      - name: start_date
        in: query
        required: false
        schema:
          description: Start date for custom range (ISO format)
          title: Start Date
          type: string
          nullable: true
        description: Start date for custom range (ISO format)
      - name: end_date
        in: query
        required: false
        schema:
          description: End date for custom range (ISO format)
          title: End Date
          type: string
          nullable: true
        description: End date for custom range (ISO format)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-scenarios/generate:
    post:
      tags:
      - Voice Testing
      summary: Generate voice test scenarios
      description: Generate voice agent test scenarios using LLM.
      operationId: generate_voice_scenarios_api_projects__project_id__voice_scenarios_generate_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVoiceScenariosRequest'
      responses:
        '200':
          description: Generation started in the background (poll GET /api/projects/{project_id}/voice-scenarios/saved
            for results) or completed synchronously (`scenarios` + `count` inline). See the model for
            both shapes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateVoiceScenariosResponse'
        '400':
          description: Invalid generation input, or the project is not a voice project.
          content:
            application/json:
              example:
                detail: Invalid generation input, or the project is not a voice project.
        '409':
          description: Prompt changed while scenarios were being generated; retry.
          content:
            application/json:
              example:
                detail: Prompt changed while scenarios were being generated; retry.
        '500':
          description: Scenario generation failed unexpectedly.
          content:
            application/json:
              example:
                detail: Scenario generation failed unexpectedly.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-scenarios/saved:
    get:
      tags:
      - Voice Testing
      summary: List saved voice scenarios
      description: Get all saved voice scenarios for a project.
      operationId: get_saved_voice_scenarios_api_projects__project_id__voice_scenarios_saved_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: All saved scenarios for the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceScenarioListResponse'
        '400':
          description: Project is not a voice project.
          content:
            application/json:
              example:
                detail: Project is not a voice project.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-scenarios/create:
    post:
      tags:
      - Voice Testing
      summary: Create a voice scenario
      description: Create a single voice scenario manually.
      operationId: create_voice_scenario_api_projects__project_id__voice_scenarios_create_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              title: Scenario Data
              description: Scenario fields are stored as provided (no field is rejected); the properties
                below are the conventional shape. `id`, `category` (default task_completion) and `max_turns`
                (default 15) are filled in server-side when omitted.
              properties:
                title:
                  type: string
                  description: Short scenario title
                description:
                  type: string
                  description: Detailed prose description of the test scenario
                persona:
                  type: string
                  description: Caller persona name
                expected_output:
                  type: array
                  items:
                    type: string
                  description: Validation criteria checked after the call
                category:
                  type: string
                  description: greeting | task_completion | error_recovery | multi_turn | hold_transfer
                max_turns:
                  type: integer
                  description: Max conversation turns
                first_speaker:
                  type: string
                  description: simulator | agent
                max_duration_seconds:
                  type: integer
                  description: Max call duration in seconds
            example:
              title: Order status lookup
              description: Caller wants to check the status of an existing order and asks for the expected
                delivery date.
              persona: Brief and Direct
              expected_output:
              - Agent greets the caller professionally
              - Agent asks for the order number
              - Agent provides the order status and delivery date
              category: task_completion
              max_turns: 15
              first_speaker: simulator
              max_duration_seconds: 300
      responses:
        '200':
          description: The created scenario (saved by default).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceScenarioEnvelope'
        '400':
          description: Project is not a voice project.
          content:
            application/json:
              example:
                detail: Project is not a voice project.
        '500':
          description: Scenario creation failed unexpectedly.
          content:
            application/json:
              example:
                detail: Scenario creation failed unexpectedly.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-scenarios/edit:
    put:
      tags:
      - Voice Testing
      summary: Edit a voice scenario
      description: Edit an existing voice scenario.
      operationId: edit_voice_scenario_api_projects__project_id__voice_scenarios_edit_put
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_edit_voice_scenario_api_projects__project_id__voice_scenarios_edit_put'
            example:
              scenario_id: 5a1e2b7c-9d3f-4e21-8c47-0f6b2d9a1e34
              scenario_data:
                title: Order status lookup
                description: Caller checks an existing order and now also asks to change the delivery
                  address.
                persona: Adaptable Communicator
                expected_output:
                - Agent asks for the order number
                - Agent confirms the new delivery address
                - Agent summarizes the change before ending the call
                max_turns: 15
      responses:
        '200':
          description: The updated scenario.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceScenarioEnvelope'
        '400':
          description: Project is not a voice project.
          content:
            application/json:
              example:
                detail: Project is not a voice project.
        '404':
          description: Scenario not found.
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-scenarios/delete:
    delete:
      tags:
      - Voice Testing
      summary: Delete voice scenarios
      description: Delete voice scenarios.
      operationId: delete_voice_scenarios_api_projects__project_id__voice_scenarios_delete_delete
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_delete_voice_scenarios_api_projects__project_id__voice_scenarios_delete_delete'
      responses:
        '200':
          description: Count of scenarios actually deleted; unknown IDs are skipped, not errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVoiceScenariosResponse'
        '400':
          description: Project is not a voice project.
          content:
            application/json:
              example:
                detail: Project is not a voice project.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-test/run:
    post:
      tags:
      - Voice Testing
      summary: Run voice agent tests
      description: Run voice agent tests for the selected scenarios (distributed, parallel). Poll GET
        /api/voice-results/suite/{suite_id} for results.
      operationId: run_voice_test_api_projects__project_id__voice_test_run_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunVoiceTestRequest'
      responses:
        '200':
          description: Tests packaged and (when LambdaTest credentials are available) submitted to HyperExecute.
            Returns immediately — poll `GET /api/voice-results/suite/{suite_id}` for progress and results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunVoiceTestResponse'
              example:
                suite_id: 0b8e2f34-6c1d-4f7a-9e52-3d84a1c07b96
                job_id: a3f9d2e8-1b6c-4a05-b7e4-92c5d81f0a37
                hyperexecute_url: https://hyperexecute.lambdatest.com/hyperexecute/task?jobId=a3f9d2e8-1b6c-4a05-b7e4-92c5d81f0a37
                package_url: https://storage.example.com/voice-test-packages/0b8e2f34.zip
                total_scenarios: 4
                status: submitted
                message: Voice tests submitted to HyperExecute. Poll GET /api/voice-results/suite/0b8e2f34-6c1d-4f7a-9e52-3d84a1c07b96
                  for results.
        '400':
          description: 'Invalid run request: unknown project or endpoint profile, no scenarios found for
            the given IDs, unsupported voice/transport configuration, or endpoint-profile setup failed.'
          content:
            application/json:
              example:
                detail: 'Invalid run request: unknown project or endpoint profile, no scenarios found
                  for the given IDs, unsupported voice/transport configuration, or endpoint-profile setup
                  failed.'
        '500':
          description: Test packaging or submission failed unexpectedly.
          content:
            application/json:
              example:
                detail: Test packaging or submission failed unexpectedly.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/voice-results/{result_id}:
    get:
      tags:
      - Voice Testing
      summary: Get a voice test result
      description: Get a single voice test result with full details.
      operationId: get_result_detail_api_voice_results__result_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: result_id
        in: path
        required: true
        schema:
          type: string
          title: Result Id
      responses:
        '200':
          description: 'Full result detail: transcript, evaluation, validation verdicts, latency metrics,
            presigned recording URL, and the latency-threshold snapshot in effect when it was evaluated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResultDoc'
              example:
                id: 7c2d9f10-4b8e-4c6a-a1d3-5e90f2b7c841
                project_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                scenario_id: 5a1e2b7c-9d3f-4e21-8c47-0f6b2d9a1e34
                scenario_title: Order status lookup
                suite_id: 0b8e2f34-6c1d-4f7a-9e52-3d84a1c07b96
                transport_protocol: websocket
                status: completed
                conversation_history:
                - role: simulator
                  text: Hi, I'd like to check my order status.
                  latency_ms: 640.2
                  seconds_from_start: 1.4
                - role: agent
                  text: Sure — could you share your order number?
                  latency_ms: 910.7
                  seconds_from_start: 4.9
                evaluation_result:
                  metrics:
                    task_completion: 1.0
                    overall_score: 0.92
                  detailed_analysis:
                    summary: Agent resolved the request efficiently.
                  overall_result: Pass
                latency_metrics:
                  avg_ms: 820.4
                  p95_ms: 1310.0
                validation_results:
                  mode: scenario_driven
                  criteria:
                  - criterion: Agent asks for the order number
                    source: scenario_provided
                    expected: Agent requests the order number
                    achieved: Agent asked for the order number in turn 2
                    status: Pass
                    evidence: '"Could you share your order number?"'
                    confidence: High
                  overall_compliance: Pass
                  pass_count: 1
                  fail_count: 0
                  unable_to_verify_count: 0
                  compliance_percentage: 100
                  summary: 1 of 1 criteria passed.
                  manually_updated: false
                call_id: call_18f3a2
                recording_url: https://storage.example.com/recordings/7c2d9f10.wav?expires=3600
                call_duration_seconds: 47.2
                created_at: '2026-07-28T14:03:12.001235'
        '404':
          description: Result not found.
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/voice-results/suite/{suite_id}:
    get:
      tags:
      - Voice Testing
      summary: List voice test results for a suite
      description: Get all voice test results for a suite.
      operationId: get_suite_results_api_voice_results_suite__suite_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: suite_id
        in: path
        required: true
        schema:
          type: string
          title: Suite Id
      responses:
        '200':
          description: Status counts plus fully serialized results, newest first. Designed for polling
            while a run is in flight. An unknown suite yields zero counts and an empty `results` list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSuiteResultsDoc'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/projects/{project_id}/voice-results:
    get:
      tags:
      - Voice Testing
      summary: List voice test results for a project
      description: Get all voice test results for a project, grouped by suite.
      operationId: get_project_voice_results_api_projects__project_id__voice_results_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: Suites (newest first) with compact per-run rows. An unknown or inaccessible project
            returns an empty `suites` list rather than an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceProjectResultsResponse'
              example:
                project_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                suites:
                - suite_id: 0b8e2f34-6c1d-4f7a-9e52-3d84a1c07b96
                  suite_name: Voice regression - checkout flows
                  created_at: '2026-07-28T14:03:11.482910'
                  total_scenarios: 2
                  completed: 1
                  failed: 0
                  in_progress: 1
                  pending: 0
                  scenarios:
                  - scenario_id: 5a1e2b7c-9d3f-4e21-8c47-0f6b2d9a1e34
                    scenario_title: Order status lookup
                    result_id: 7c2d9f10-4b8e-4c6a-a1d3-5e90f2b7c841
                    status: completed
                    transport_protocol: websocket
                    created_at: '2026-07-28T14:03:12.001235'
                    latency_avg_ms: 820.4
                    turns: 12
                    duration: 47.2
                    validation_overall_compliance: Pass
                    validation_compliance_percentage: 100
                    validation_pass_count: 3
                    validation_fail_count: 0
                    validation_summary: 3 of 3 criteria passed. 0 failed, 0 unable to verify.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/analyze-image:
    post:
      tags:
      - Image Analyzer
      summary: Analyze Image
      description: 'Analyze an image and validate it against the original prompt.


        This endpoint:

        1. Accepts an image (uploaded file or URL) and the prompt used to generate it

        2. Uses AI to analyze the image and compare it against the prompt

        3. Returns detailed analysis including matches and discrepancies


        Provide an uploaded image file or an image_url (the uploaded file takes precedence if both are
        sent).'
      operationId: analyze_image_api_analyze_image_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_analyze_image_api_analyze_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/analyze-images-batch:
    post:
      tags:
      - Image Analyzer
      summary: Analyze Images Batch
      description: 'Analyze multiple images in batch against a single prompt.


        This endpoint:

        1. Accepts multiple images and a single prompt

        2. Processes images in parallel (with rate limiting)

        3. Returns individual analysis results for each image


        Between 1 and 50 image files may be uploaded per request.'
      operationId: analyze_images_batch_api_analyze_images_batch_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_analyze_images_batch_api_analyze_images_batch_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchImageAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/image-analysis/{project_id}:
    get:
      tags:
      - Image Analyzer
      summary: Get Image Analysis History
      description: 'Get image analysis history for a project.


        Returns the project''s image analysis records, newest first.'
      operationId: get_image_analysis_history_api_image_analysis__project_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      responses:
        '200':
          description: Image analyses for the project, newest first, with presigned download URLs (2h
            expiry) for stored images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisHistoryResponseDoc'
        '403':
          description: Project does not belong to the caller's organization
          content:
            application/json:
              example:
                detail: Access denied.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/image-analysis/detail/{analysis_id}:
    get:
      tags:
      - Image Analyzer
      summary: Get Image Analysis Detail
      description: Get detailed information about a specific image analysis.
      operationId: get_image_analysis_detail_api_image_analysis_detail__analysis_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: analysis_id
        in: path
        required: true
        schema:
          type: string
          title: Analysis Id
      responses:
        '200':
          description: Full image-analysis record with a presigned download URL (2h expiry) for the stored
            image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisDetailResponseDoc'
        '404':
          description: Image analysis not found or caller lacks permission to access it
          content:
            application/json:
              example:
                detail: Not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/performance-tests/start:
    post:
      tags:
      - Performance Testing
      summary: Start Performance Test
      description: 'Kick off a paced load test.


        Hitting this endpoint — not a flag on /api/initiatecall — is what tells

        the backend to treat the resulting calls as load-test traffic. The

        response returns immediately with a ``perf_test_run_id``; the actual

        dialing happens in a background task.'
      operationId: start_performance_test_api_performance_tests_start_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerformanceTestStartRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTestStartResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
      security:
      - BearerAuth: []
      - HTTPBasic: []
  /api/performance-tests:
    get:
      tags:
      - Performance Testing
      summary: List Performance Tests
      description: 'Return recent perf runs visible to the caller''s org.


        Filters are AND-combined. ``project_id`` is optional so dashboards can

        list "everything I ran lately" across projects.'
      operationId: list_performance_tests_api_performance_tests_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: query
        required: false
        schema:
          title: Project Id
          type: string
          nullable: true
      - name: status
        in: query
        required: false
        schema:
          title: Status
          allOf:
          - $ref: '#/components/schemas/PerformanceTestRunStatus'
          nullable: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceTestRunSummary'
                title: Response List Performance Tests Api Performance Tests Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/performance-tests/{run_id}:
    get:
      tags:
      - Performance Testing
      summary: Get Performance Test
      description: Fetch one run's metadata (without the summary blob).
      operationId: get_performance_test_api_performance_tests__run_id__get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTestRunSummary'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/performance-tests/{run_id}/summary:
    get:
      tags:
      - Performance Testing
      summary: Get Performance Test Summary
      description: 'Return Tier 1 metrics bucketed by concurrency.


        For terminal runs the result is served from a cached summary;

        pass ``refresh=true`` to recompute from the underlying call

        records.'
      operationId: get_performance_test_summary_api_performance_tests__run_id__summary_get
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
      - name: refresh
        in: query
        required: false
        schema:
          type: boolean
          description: Force a rebuild even if a cached summary exists.
          default: false
          title: Refresh
        description: Force a rebuild even if a cached summary exists.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTestSummary'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
  /api/performance-tests/{run_id}/abort:
    post:
      tags:
      - Performance Testing
      summary: Abort Performance Test
      description: 'Stop dispatching new batches AND end live calls.


        Dispatching stops promptly, and every call still in-flight on this

        run is asked to end via the telephony provider so

        accidentally-triggered calls don''t run to completion. Provider-side

        termination is best-effort: calls that can''t be ended (already

        ended, not yet connected) are cleaned up by a background job within

        a few minutes. The org concurrency cap is restored as soon as the

        run finishes shutting down.'
      operationId: abort_performance_test_api_performance_tests__run_id__abort_post
      security:
      - BearerAuth: []
      - HTTPBasic: []
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTestRunSummary'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail: Validation Error.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                detail: Missing or invalid credentials.
components:
  schemas:
    AgentProfileItem:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier
        org_id:
          type: string
          title: Org Id
          description: Your LambdaTest organization ID
        agent_name:
          type: string
          title: Agent Name
          description: Agent name
        phone_number:
          type: string
          title: Phone Number
          description: Phone number
        voice_name:
          type: string
          title: Voice Name
          description: Voice name, as shown in the product UI's voice selector
        background_noise:
          title: Background Noise
          description: Background noise setting
          type: string
          nullable: true
        max_duration_seconds:
          title: Max Duration Seconds
          description: Maximum call duration in seconds (60-3600). Overrides the scenario's max_duration_seconds
            when set.
          type: integer
          nullable: true
        agent_type:
          type: string
          title: Agent Type
          description: Agent type
          default: PHONE_CALLER_INBOUND
        is_active:
          type: boolean
          title: Is Active
          description: Whether this profile is active
          default: true
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - id
      - org_id
      - agent_name
      - phone_number
      - voice_name
      - created_at
      - updated_at
      title: AgentProfileItem
      description: Individual agent profile model.
    AgentProfileListResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the operation was successful
          default: true
        message:
          type: string
          title: Message
          description: Response message
        data:
          items:
            $ref: '#/components/schemas/AgentProfileItem'
          type: array
          title: Data
          description: List of agent profiles
      type: object
      required:
      - message
[...]
