openapi: 3.0.0
info:
  title: TestMu AI Analytics API Documentation
  version: 1.0.0
servers:
  - url: 'https://api.lambdatest.com/insights/api/v3/public'
  - url: 'https://eu-api.lambdatest.com/insights/api/v3/public'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message describing what went wrong.
        status:
          type: string
          example: "failed"
    MessageResponse:
      type: object
      properties:
        message:
          type: string
          description: Message describing what went wrong.
    RCAResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        data:
          type: array
          items:
            type: object
            properties:
              test_id:
                type: string
                description: Unique identifier for the test execution.
              job_id:
                type: string
                description: HyperExecute job ID the test ran under.
              stage_id:
                type: string
                description: HyperExecute stage ID within the job.
              task_id:
                type: string
                description: HyperExecute task ID within the stage.
              build_id:
                type: string
                description: Build ID the test belongs to.
              rca_category:
                type: string
                description: High-level category of the root cause (e.g. "Test Data Issue", "Infrastructure Issue").
              create_timestamp:
                type: string
                format: date-time
                description: Timestamp when the test execution was created (RFC3339 UTC).
              rca_detail:
                type: object
                description: Detailed AI-powered Root Cause Analysis.
                properties:
                  root_cause_category:
                    type: string
                    description: Granular root cause category identified by AI analysis.
                  parent_failure_category:
                    type: string
                    description: Broader parent category grouping the root cause (e.g. "Infrastructure Issue" is the parent of "Network Timeout").
                  failure_summary:
                    type: string
                    description: Human-readable summary of why the test failed.
                  stack_trace:
                    type: string
                    description: Stack trace from the failing test assertion or exception.
                  root_cause_failure_stack_trace:
                    type: string
                    description: Stack trace from the underlying root cause (may differ from the test-level stack_trace when the failure propagated from a deeper layer).
                  analysis:
                    type: array
                    items:
                      type: string
                    description: Step-by-step AI analysis of the failure chain.
                  steps_to_fix:
                    type: array
                    description: Actionable fix suggestions generated by AI.
                    items:
                      type: object
                      properties:
                        issue:
                          type: string
                          description: The specific issue identified.
                        module:
                          type: string
                          description: The code module or component where the issue was found.
                        suggested_fix:
                          type: string
                          description: Recommended fix for this issue.
                  error_timeline:
                    type: array
                    description: Chronological sequence of events leading to the failure.
                    items:
                      type: object
                      properties:
                        step_name:
                          type: string
                          description: Name of the step or action in the timeline.
                        timestamp:
                          type: string
                          format: date-time
                          description: When this event occurred (RFC3339 UTC).
                        source_log:
                          type: string
                          description: Log source (e.g. "Device Logs", "Appium Logs").
                        summary:
                          type: string
                          description: Brief description of what happened at this step.
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
    StatusErrorResponse:
      type: object
      description: Error response shape returned by the RCA generate/status endpoints.
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
          description: Human-readable error message.
    GenerateRCARequest:
      type: object
      description: >-
        Request body for POST /rca/generate. At least one scope field must be
        provided. Each array is capped at 100 IDs.
      anyOf:
        - required: [job_ids]
        - required: [stage_ids]
        - required: [task_ids]
        - required: [test_ids]
      properties:
        job_ids:
          type: array
          items:
            type: string
          maxItems: 100
          description: HyperExecute job IDs whose failed tests should be analysed.
        stage_ids:
          type: array
          items:
            type: string
          maxItems: 100
          description: HyperExecute stage IDs whose failed tests should be analysed.
        task_ids:
          type: array
          items:
            type: string
          maxItems: 100
          description: HyperExecute task IDs whose failed tests should be analysed.
        test_ids:
          type: array
          items:
            type: string
          maxItems: 100
          description: >-
            Test execution IDs to analyse directly. Supports HyperExecute and
            Web/Mobile automation tests — each test is routed to the correct
            analyzer based on its stored product/test_type.
    GenerateRCAResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        data:
          type: object
          properties:
            total_tests:
              type: integer
              description: Total failed tests resolved from the provided scope.
            triggered_count:
              type: integer
              description: Number of tests newly dispatched to the RCA pipeline.
            skipped_count:
              type: integer
              description: Sum of skipped_already_generated + skipped_in_progress.
            skipped_already_generated:
              type: integer
              description: Tests skipped because an RCA was generated earlier.
            skipped_in_progress:
              type: integer
              description: Tests skipped because RCA generation is already running.
            credits_estimated:
              type: number
              format: float
              description: Estimated credits that will be consumed by the triggered tests.
            test_ids:
              type: array
              items:
                type: string
              description: Test IDs successfully dispatched for RCA generation.
            skipped_test_ids:
              type: array
              items:
                type: string
              description: Test IDs that were skipped (already generated or in progress).
            message:
              type: string
              description: >-
                Informational message. Present when no failed tests were
                resolved from the scope.
    InsufficientCreditsResponse:
      type: object
      description: 402 response returned when the organization does not have enough credits to cover the request.
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
        data:
          type: object
          properties:
            total_tests:
              type: integer
              description: Total failed tests resolved from the scope.
            tests_to_trigger:
              type: integer
              description: Tests that would be triggered after filtering duplicates and in-progress runs.
            credits_required:
              type: number
              format: float
              description: Credits needed to dispatch all pending tests.
            credits_available:
              type: number
              format: float
              description: Current credit balance for the organization.
    RCAStatusResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        data:
          type: object
          properties:
            progress:
              type: object
              description: Aggregated RCA progress counts across all tests in the scope.
              properties:
                total_tests:
                  type: integer
                completed:
                  type: integer
                  description: Tests whose RCA generation finished successfully.
                in_progress:
                  type: integer
                  description: Tests whose RCA is currently running.
                failed:
                  type: integer
                  description: Tests whose RCA generation failed.
                pending:
                  type: integer
                  description: Tests that have not been triggered yet.
            results:
              type: array
              description: >-
                Page of completed RCA records (controlled by limit/offset). The
                record count aligns with `progress.completed` — in-progress,
                failed and pending tests are represented only in `progress`,
                not here.
              items:
                type: object
                properties:
                  test_id:
                    type: string
                  stage_id:
                    type: string
                    description: HyperExecute stage ID. Empty for non-HyperExecute tests.
                  task_id:
                    type: string
                    description: HyperExecute task ID. Empty for non-HyperExecute tests.
                  job_id:
                    type: string
                    description: HyperExecute job ID. Empty for non-HyperExecute tests.
                  rca_category:
                    type: string
                    description: Canonical root cause category.
                  parent_failure_category:
                    type: string
                    description: Broader parent category grouping the root cause.
                  status:
                    type: string
                    enum: [active]
                    description: >-
                      Internal status label of the completed RCA record.
                      Currently always `active` for records in this list.
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the RCA record was created.
                  rca_detail:
                    type: object
                    description: >-
                      Full RCA payload. Present only when the request was made
                      with `include_detail=true`.
                    properties:
                      root_cause_category:
                        type: string
                      parent_failure_category:
                        type: string
                      failure_summary:
                        type: string
                      stack_trace:
                        type: string
                      root_cause_failure_stack_trace:
                        type: string
                      analysis:
                        type: array
                        items:
                          type: string
                      steps_to_fix:
                        type: array
                        items:
                          type: object
                          properties:
                            issue:
                              type: string
                            module:
                              type: string
                            suggested_fix:
                              type: string
                      error_timeline:
                        type: array
                        items:
                          type: object
                          properties:
                            step_name:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                            source_log:
                              type: string
                            summary:
                              type: string
            pagination:
              type: object
              properties:
                total:
                  type: integer
                  description: Total completed RCA records matching the scope.
                limit:
                  type: integer
                offset:
                  type: integer
    TestDataResponse:
      type: object
      description: Response for GET /tests.
      properties:
        status:
          type: string
          example: "success"
        data:
          type: array
          description: Array of test execution records. Empty array if no results match.
          items:
            type: object
            properties:
              test_id:
                type: string
                description: Unique identifier for the test execution.
                example: "RMAA-AND-160849-XXXX"
              env_config:
                type: object
                description: Device and browser configuration the test ran on.
                properties:
                  os:
                    type: string
                    description: Operating system (e.g. "Android", "Windows", "macOS").
                  os_version:
                    type: string
                    description: OS version (e.g. "13", "11").
                  browser:
                    type: string
                    description: Browser name. Empty for app-based tests.
                  browser_version:
                    type: string
                    description: Browser version. Empty for app-based tests.
                  device:
                    type: string
                    description: Device name for mobile tests (e.g. "Galaxy S23"). Empty for desktop.
                  resolution:
                    type: string
                    description: Screen resolution (e.g. "1920x1080"). Empty for mobile tests.
              test_metadata:
                type: object
                properties:
                  test_name:
                    type: string
                    description: Name of the test as defined in the test suite.
                  status:
                    type: string
                    description: Final status (passed, failed, skipped, error).
                  duration:
                    type: number
                    format: float
                    description: Duration in seconds.
                  create_timestamp:
                    type: string
                    format: date-time
                    description: Timestamp when the test record was created (RFC3339 UTC).
                  start_timestamp:
                    type: string
                    format: date-time
                    description: Timestamp when test execution started (RFC3339 UTC).
                  end_timestamp:
                    type: string
                    format: date-time
                    description: Timestamp when test execution ended (RFC3339 UTC).
                  tags:
                    type: array
                    items:
                      type: string
                    description: User-defined labels applied to this test execution.
              build_metadata:
                type: object
                description: Build and job context the test ran under.
                properties:
                  build_id:
                    type: string
                    description: Unique identifier for the build.
                  build_name:
                    type: string
                    description: Human-readable name of the build (e.g. "Regression Suite - March Sprint").
                  build_tags:
                    type: array
                    items:
                      type: string
                    description: Tags applied to the build (e.g. ["regression", "nightly"]).
                  build_create_timestamp:
                    type: string
                    format: date-time
                    description: Timestamp when the build was created (RFC3339 UTC).
                  job_id:
                    type: string
                    description: HyperExecute job ID. Empty for non-HyperExecute tests.
                  task_id:
                    type: string
                    description: HyperExecute task ID within the job. Empty for non-HyperExecute tests.
                  stage_id:
                    type: string
                    description: HyperExecute stage ID within the task. Empty for non-HyperExecute tests.
              insights:
                type: object
                properties:
                  smart_tags:
                    type: object
                    description: AI-detected quality signals for this test.
                    properties:
                      is_always_failing:
                        type: boolean
                        description: True if the test has failed consistently across recent runs.
                      is_new_failure:
                        type: boolean
                        description: True if this is the first failure after a streak of passing runs.
                      is_flaky:
                        type: boolean
                        description: True if the test alternates between pass and fail without code changes.
                      is_performance_anomaly:
                        type: boolean
                        description: True if the test duration is significantly higher than its historical baseline.
                  flakiness:
                    type: object
                    properties:
                      is_flaky:
                        type: boolean
                        description: True if the test was detected as flaky based on historical runs.
                      flake_rate:
                        type: number
                        format: float
                        description: Ratio of flaky runs to total runs (0.0–1.0).
                      compared_test_ids:
                        type: array
                        items:
                          type: string
                        description: IDs of test runs used to determine flakiness for this execution.
                  rca:
                    type: object
                    nullable: true
                    description: Minimal RCA info present only when AI analysis has run. Use GET /rca for the full analysis including stack traces and step-by-step breakdown.
                    properties:
                      category:
                        type: string
                        description: AI-generated root cause category (e.g. "Test Data Issue", "Infrastructure Issue").
                      summary:
                        type: string
                        description: One-line AI summary of the failure reason.
                  failure_category:
                    type: string
                    description: >-
                      Stored failure category for this test execution. Sourced
                      directly from the test record — set when the test is
                      processed. May match `rca.category` when AI analysis is
                      present, but is independently stored and can be non-null
                      even when `rca` is null.
        pagination:
          type: object
          properties:
            next_cursor:
              type: string
              description: Base64-encoded cursor for the next page. Empty when no more results.
            has_more:
              type: boolean
            limit:
              type: integer
        notes:
          type: array
          items:
            type: string
          description: Informational messages (e.g., limit clamping). Omitted when empty.
    ConcurrencyResponse:
      type: object
      description: Response for GET /concurrency.
      properties:
        status:
          type: string
          example: "success"
        data:
          type: array
          description: Array of time-bucketed concurrency metrics. Empty if no data exists.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                description: Start of the time bucket (RFC3339 UTC).
              product:
                type: string
              max_concurrency:
                type: integer
                description: Maximum concurrent sessions observed in this bucket.
              max_queued:
                type: integer
                description: Maximum queued sessions observed in this bucket.
              max_allowed_concurrency:
                type: integer
                description: Maximum concurrency limit configured for the organization.
              max_queued_limit:
                type: integer
                description: Maximum queue depth configured for the organization.
        metadata:
          type: object
          properties:
            granularity:
              type: string
              description: Time bucket size used for aggregation.
            product:
              type: string
              description: Product name echoed from the request.
            total_buckets:
              type: integer
              description: Total number of time buckets returned in the data array.
            date_range:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
    UsageSummaryResponse:
      type: object
      description: Response for GET /usage-report/summary.
      properties:
        status:
          type: string
          example: "success"
        data:
          type: object
          properties:
            metadata:
              type: object
              required:
                - from
                - to
              properties:
                type:
                  type: string
                  description: User population echoed from the request.
                  enum: [account-user, service-user]
                  example: "account-user"
                totalUsers:
                  type: integer
                  description: >-
                    Distinct users (in the requested type) who ran tests in
                    the date range across all products.
                  example: 12
                from:
                  type: string
                  description: The `from` value as provided in the request.
                  example: "2026-06-23 00:00:00"
                to:
                  type: string
                  description: The `to` value as provided in the request.
                  example: "2026-06-23 23:59:59"
                timezone:
                  type: string
                  description: Resolved timezone offset used to interpret from/to.
                  example: "+05:30"
                organization:
                  type: object
                  description: The authenticated caller's organization.
                  properties:
                    id:
                      type: string
                      description: Numeric organization ID.
                      example: "12345"
                    name:
                      type: string
                      description: Organization display name.
                      example: "Acme Corp"
                partial:
                  type: boolean
                  description: >-
                    Present and true when one or more product data fetches
                    failed. Treat as incomplete — not a real zero.
            products:
              type: object
              description: >-
                Per-product usage totals. Most products carry
                `{ totalTests, totalDuration }`; the `smartui` key carries
                `{ totalScreenshots }` only (no tests or duration).
              properties:
                automation:
                  type: object
                  description: >-
                    Aggregate counters for a non-Smart UI product. Unit of
                    count is a test execution; unit of duration is milliseconds.
                  properties:
                    totalTests:
                      type: integer
                      format: int64
                      description: Total tests run across all users in the date range.
                      example: 8450
                    totalDuration:
                      type: integer
                      format: int64
                      description: Total test execution time in milliseconds.
                      example: 312540
                app-automation:
                  type: object
                  description: >-
                    Aggregate counters for a non-Smart UI product. Unit of
                    count is a test execution; unit of duration is milliseconds.
                  properties:
                    totalTests:
                      type: integer
                      format: int64
                      description: Total tests run across all users in the date range.
                      example: 1200
                    totalDuration:
                      type: integer
                      format: int64
                      description: Total test execution time in milliseconds.
                      example: 98400
                hyperexecute:
                  type: object
                  description: >-
                    Aggregate counters for a non-Smart UI product. Unit of
                    count is a test execution; unit of duration is milliseconds.
                  properties:
                    totalTests:
                      type: integer
                      format: int64
                      description: Total tests run across all users in the date range.
                      example: 3100
                    totalDuration:
                      type: integer
                      format: int64
                      description: Total test execution time in milliseconds.
                      example: 210000
                realtime:
                  type: object
                  description: >-
                    Aggregate counters for a non-Smart UI product. Unit of
                    count is a test execution; unit of duration is milliseconds.
                  properties:
                    totalTests:
                      type: integer
                      format: int64
                      description: Total tests run across all users in the date range.
                      example: 540
                    totalDuration:
                      type: integer
                      format: int64
                      description: Total test execution time in milliseconds.
                      example: 43200
                realdevice:
                  type: object
                  description: >-
                    Aggregate counters for a non-Smart UI product. Unit of
                    count is a test execution; unit of duration is milliseconds.
                  properties:
                    totalTests:
                      type: integer
                      format: int64
                      description: Total tests run across all users in the date range.
                      example: 275
                    totalDuration:
                      type: integer
                      format: int64
                      description: Total test execution time in milliseconds.
                      example: 22000
                smartui:
                  type: object
                  description: >-
                    Aggregate counter for Smart UI. Unit is a compared
                    screenshot — there is no meaningful duration for Smart
                    UI builds.
                  properties:
                    totalScreenshots:
                      type: integer
                      format: int64
                      description: Total screenshots compared via Smart UI in the date range.
                      example: 6800

    UsageDrilldownResponse:
      type: object
      description: >-
        Response for GET /usage-report/drilldown for non-Smart UI products.
        Each user row exposes totalTestsRun and totalDuration.
      properties:
        status:
          type: string
          example: "success"
        data:
          type: object
          properties:
            metadata:
              type: object
              required:
                - from
                - to
              properties:
                type:
                  type: string
                  enum: [account-user, service-user]
                  example: "account-user"
                product:
                  type: string
                  example: "automation"
                totalUsers:
                  type: integer
                  description: >-
                    Distinct users (in the requested type) with usage for
                    this product.
                  example: 8
                totalTests:
                  type: integer
                  format: int64
                  description: >-
                    Org-wide total tests for this product (all users, not
                    just the requested type). Absent when product=smartui.
                  example: 8450
                totalDuration:
                  type: integer
                  format: int64
                  description: >-
                    Org-wide total test duration in milliseconds. Absent when
                    product=smartui.
                  example: 312540
                totalScreenshots:
                  type: integer
                  format: int64
                  description: >-
                    Org-wide total screenshots compared via Smart UI (all
                    users, not just the requested type). Present only when
                    product=smartui; replaces totalTests/totalDuration.
                  example: 6800
                from:
                  type: string
                  example: "2026-06-23 00:00:00"
                to:
                  type: string
                  example: "2026-06-23 23:59:59"
                timezone:
                  type: string
                  example: "+05:30"
                organization:
                  type: object
                  description: The authenticated caller's organization.
                  properties:
                    id:
                      type: string
                      description: Numeric organization ID.
                      example: "12345"
                    name:
                      type: string
                      description: Organization display name.
                      example: "Acme Corp"
                pagination:
                  type: object
                  description: Page window for drilldown results.
                  properties:
                    limit:
                      type: integer
                      description: Results per page.
                      example: 10
                    page:
                      type: integer
                      description: Current page number (1-based).
                      example: 1
                    total:
                      type: integer
                      description: Total number of matching users.
                      example: 8
                    totalPages:
                      type: integer
                      description: Total number of pages (ceil(total / limit)).
                      example: 1
                partial:
                  type: boolean
                  description: >-
                    Present and true when the underlying data fetch failed;
                    the breakdown is empty. Not a real zero.
            users:
              type: array
              description: >-
                Per-user rows, sorted descending by usage. Scoped to the
                requested type population.
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: LambdaTest user account ID.
                    example: "67890"
                  username:
                    type: string
                    example: "johndoe"
                  email:
                    type: string
                    example: "john@example.com"
                  totalTestsRun:
                    type: integer
                    format: int64
                    description: >-
                      Tests run by this user for the product in the date
                      range. Absent when product=smartui.
                    example: 3200
                  totalDuration:
                    type: integer
                    format: int64
                    description: >-
                      Total test execution time in milliseconds for this
                      user. Absent when product=smartui.
                    example: 120000
                  totalScreenshots:
                    type: integer
                    format: int64
                    description: >-
                      Screenshots compared by this user. Present only when
                      product=smartui; replaces totalTestsRun/totalDuration.
                    example: 4200

    UsageSmartUIDrilldownResponse:
      type: object
      description: >-
        Response for GET /usage-report/drilldown when product=smartui.
        Uses totalScreenshots instead of totalTests/totalDuration because
        Smart UI counts compared screenshots, not test executions.
      properties:
        status:
          type: string
          example: "success"
        data:
          type: object
          properties:
            metadata:
              type: object
              required:
                - from
                - to
              properties:
                type:
                  type: string
                  enum: [account-user, service-user]
                  example: "account-user"
                product:
                  type: string
                  example: "smartui"
                totalUsers:
                  type: integer
                  example: 4
                totalScreenshots:
                  type: integer
                  format: int64
                  description: >-
                    Org-wide total screenshots compared via Smart UI (all
                    users, not just the requested type).
                  example: 6800
                from:
                  type: string
                  example: "2026-06-23 00:00:00"
                to:
                  type: string
                  example: "2026-06-23 23:59:59"
                timezone:
                  type: string
                  example: "+05:30"
                organization:
                  type: object
                  description: The authenticated caller's organization.
                  properties:
                    id:
                      type: string
                      description: Numeric organization ID.
                      example: "12345"
                    name:
                      type: string
                      description: Organization display name.
                      example: "Acme Corp"
                pagination:
                  type: object
                  description: Page window for drilldown results.
                  properties:
                    limit:
                      type: integer
                      description: Results per page.
                      example: 10
                    page:
                      type: integer
                      description: Current page number (1-based).
                      example: 1
                    total:
                      type: integer
                      description: Total number of matching users.
                      example: 4
                    totalPages:
                      type: integer
                      description: Total number of pages (ceil(total / limit)).
                      example: 1
                partial:
                  type: boolean
                  description: >-
                    Present and true when the underlying data fetch failed;
                    the breakdown is empty. Not a real zero.
            users:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: "67890"
                  username:
                    type: string
                    example: "johndoe"
                  email:
                    type: string
                    example: "john@example.com"
                  totalScreenshots:
                    type: integer
                    format: int64
                    description: Screenshots compared by this user.
                    example: 4200

tags:
  - name: Test Data
    description: Test execution records with AI-powered insights, flakiness metrics, and RCA category.
  - name: Root Cause Analysis
    description: AI-powered root cause analysis for test failures.
  - name: Concurrency
    description: Time-series concurrency usage metrics per product.
  - name: Usage Report
    description: Org-wide product usage totals and per-user breakdowns. Admin-only.
paths:
  /tests:
    get:
      tags:
        - Test Data
      summary: Get test execution data with AI insights.
      description: >-
        Returns paginated test execution records enriched with AI-powered
        insights including smart tags, flakiness metrics, and root cause
        analysis (RCA) category.


        **Date range**: Defaults to the last 7 days when no timestamps are
        provided. Both `from_timestamp` and `to_timestamp` must be supplied
        together — providing only one returns a 400 error. The maximum allowed
        span per API call is **31 days**.


        **Filters**: At least one filter (`job_ids`, `task_ids`, `stage_ids`,
        `test_ids`, `build_ids`) OR a date range must implicitly scope the
        query. Filters are applied with AND logic when combined. The total
        number of IDs across **all** filter params combined must not exceed
        **100**.


        **Pagination**: Cursor-based via `cursor` + `limit`. Pass the
        `next_cursor` from the previous response as `cursor` in the next
        request.


        **Sorting**: Control result order with `sort_by` and `sort_order`.
        Sortable fields: `create_timestamp` (default), `duration`, `status`.
        Default order is `desc` (newest/largest first).
      operationId: getPublicTests
      parameters:
        - name: from_timestamp
          in: query
          required: false
          description: >-
            Start of the date range in RFC3339 UTC format
            (e.g. `2026-03-01T00:00:00Z`). Must be provided together with
            `to_timestamp` — both must be supplied or both omitted. When
            both are omitted, the range defaults to the last 7 days.
          schema:
            type: string
            format: date-time
          example: "2026-03-01T00:00:00Z"
        - name: to_timestamp
          in: query
          required: false
          description: >-
            End of the date range in RFC3339 UTC format
            (e.g. `2026-03-08T00:00:00Z`). Defaults to the current time when
            both timestamps are omitted. Must be after `from_timestamp`. Cannot
            be more than 1 hour in the future.
          schema:
            type: string
            format: date-time
          example: "2026-03-08T00:00:00Z"
        - name: job_ids
          in: query
          required: false
          description: >-
            Comma-separated list of job IDs to filter by (HyperExecute jobs).
            Maximum 100 IDs total across all filter params. Whitespace around values is trimmed.
          schema:
            type: string
          example: "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f,f4362e00-916b-5c40-b4g6-d1fb0c2e3f4g"
        - name: task_ids
          in: query
          required: false
          description: >-
            Comma-separated list of task IDs to filter by (HyperExecute tasks).
            Maximum 100 IDs total across all filter params.
          schema:
            type: string
          example: "task-abc-12345"
        - name: stage_ids
          in: query
          required: false
          description: >-
            Comma-separated list of stage IDs to filter by. Maximum 100 IDs total across all filter params.
          schema:
            type: string
          example: "stage-xyz-67890"
        - name: test_ids
          in: query
          required: false
          description: >-
            Comma-separated list of test execution IDs to fetch directly.
            Maximum 100 IDs total across all filter params.
          schema:
            type: string
          example: "RMAA-AND-160849-XXXX,RMAA-AND-160850-YYYY"
        - name: build_ids
          in: query
          required: false
          description: >-
            Comma-separated list of build IDs to filter by. Maximum 100 IDs total across all filter params.
          schema:
            type: string
          example: "290136414,290136415"
        - name: limit
          in: query
          required: false
          description: >-
            Number of records to return per page. Defaults to 100. Maximum
            is 500. Invalid or non-positive values fall back to 100 with an
            explanatory note in the response. Values above 500 are silently
            clamped to 500.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          example: 50
        - name: cursor
          in: query
          required: false
          description: >-
            Base64-encoded pagination cursor returned as `next_cursor` in the
            previous response. Omit (or pass an empty string) to fetch the
            first page.
          schema:
            type: string
          example: "eyJzb3J0IjpbMTc0MTU5NjAwMDAwMCwiUk1BQS1BTkQtMTYwODQ5LVhYWFgiXX0="
        - name: sort_by
          in: query
          required: false
          description: >-
            Field to sort results by. Defaults to `create_timestamp`.
          schema:
            type: string
            default: create_timestamp
            enum:
              - create_timestamp
              - duration
              - status
          example: "create_timestamp"
        - name: sort_order
          in: query
          required: false
          description: >-
            Sort direction. Defaults to `desc` (newest first).
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          example: "desc"
      responses:
        '200':
          description: Successful operation. Returns matching test records with pagination state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestDataResponse'
              example:
                status: "success"
                data:
                  - test_id: "RMAA-AND-160849-XXXX"
                    env_config:
                      os: "Android"
                      os_version: "13"
                      browser: ""
                      browser_version: ""
                      device: "Galaxy S23"
                      resolution: ""
                    test_metadata:
                      test_name: "Login with valid credentials"
                      status: "failed"
                      duration: 12.5
                      create_timestamp: "2026-03-10T08:00:00Z"
                      start_timestamp: "2026-03-10T08:00:01Z"
                      end_timestamp: "2026-03-10T08:00:13Z"
                      tags: ["smoke", "login"]
                    build_metadata:
                      build_id: "290136414"
                      build_name: "Regression Suite - March Sprint"
                      build_tags: ["regression"]
                      build_create_timestamp: "2026-03-10T07:55:00Z"
                      job_id: "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f"
                      task_id: "task-abc-12345"
                      stage_id: "stage-xyz-67890"
                    insights:
                      smart_tags:
                        is_always_failing: false
                        is_new_failure: true
                        is_flaky: false
                        is_performance_anomaly: false
                      flakiness:
                        is_flaky: false
                        flake_rate: 0.0
                        compared_test_ids: []
                      rca:
                        category: "Test Data Issue"
                        summary: "App could not reach backend server during test execution."
                      failure_category: "Test Data Issue"
                pagination:
                  next_cursor: "eyJzb3J0IjpbMTc0MTU5NjAwMDAwMCwiUk1BQS1BTkQtMTYwODQ5LVhYWFgiXX0="
                  has_more: true
                  limit: 100
        '400':
          description: Bad request. Returns a descriptive error for invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                inverted_range:
                  summary: to_timestamp is before from_timestamp
                  value:
                    error: "to_timestamp must be after from_timestamp"
                    status: "failed"
                missing_from:
                  summary: Only to_timestamp was provided
                  value:
                    error: "from_timestamp is required when to_timestamp is provided"
                    status: "failed"
                exceeds_span:
                  summary: Date range exceeds 31-day maximum span
                  value:
                    error: "date range exceeds maximum allowed span of 31 days per API call"
                    status: "failed"
                too_many_ids:
                  summary: More than 100 IDs total across all filter params
                  value:
                    error: "total filter IDs (101) exceeds the maximum of 100 across all filter params combined"
                    status: "failed"
                invalid_cursor:
                  summary: Malformed pagination cursor
                  value:
                    error: "invalid cursor"
                    status: "failed"
                invalid_sort_by:
                  summary: Unrecognised sort field
                  value:
                    error: "invalid sort_by: \"test_name\" (valid: create_timestamp, duration, status)"
                    status: "failed"
                invalid_sort_order:
                  summary: Invalid sort direction
                  value:
                    error: "invalid sort_order: \"up\" (valid: asc, desc)"
                    status: "failed"
        '401':
          description: Unauthorized. Invalid or missing credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid Token"
        '403':
          description: Forbidden. Authorization token is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Authorization token missing."
        '500':
          description: Server-side error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "error fetching test data"
                status: "failed"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /rca:
    get:
      tags:
        - Root Cause Analysis
      summary: Get AI-powered Root Cause Analysis for test failures.
      description: >-
        This endpoint retrieves the AI-powered Root Cause Analysis (RCA) for the
        specified test, job, task, or stage IDs. The RCA returned by this API
        matches the same test-level AI RCA displayed on the UI dashboard.


        At least one of test_ids, job_ids, task_ids, or stage_ids must be provided.
      parameters:
        - name: test_ids
          in: query
          description: Comma-separated list of test IDs to fetch RCA for.
          required: false
          schema:
            type: string
          example: RMAA-AND-160849-XXXX
        - name: job_ids
          in: query
          description: Comma-separated list of job IDs to fetch RCA for.
          required: false
          schema:
            type: string
          example: e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f
        - name: task_ids
          in: query
          description: Comma-separated list of task IDs to fetch RCA for.
          required: false
          schema:
            type: string
          example: task-abc-12345
        - name: stage_ids
          in: query
          description: Comma-separated list of stage IDs to fetch RCA for.
          required: false
          schema:
            type: string
          example: stage-xyz-67890
        - name: page
          in: query
          description: Page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          description: Maximum number of records to return per page. Default is 10.
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          example: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RCAResponse'
              example:
                status: "success"
                data:
                  - test_id: "RMAA-AND-160849-XXXX"
                    job_id: "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f"
                    stage_id: "stage-xyz-67890"
                    task_id: "task-abc-12345"
                    build_id: "290136414"
                    rca_category: "Test Data Issue"
                    create_timestamp: "2026-03-05T11:13:32Z"
                    rca_detail:
                      root_cause_category: "Test Data Issue"
                      parent_failure_category: "Infrastructure Issue"
                      failure_summary: "App could not reach backend server, so the expected button was not displayed and the test failed."
                      stack_trace: "org.openqa.selenium.NoSuchElementException: no such element..."
                      root_cause_failure_stack_trace: "java.net.ConnectException: Connection refused (Connection refused)..."
                      analysis:
                        - "Device logs show the app could not connect to the backend server."
                        - "Because the server call failed, the expected UI element was never loaded."
                      steps_to_fix:
                        - issue: "Backend server not reachable from the test device."
                          module: "Mobile app backend connection"
                          suggested_fix: "Ensure the backend server is accessible from the test environment."
                      error_timeline:
                        - step_name: "App connects to backend"
                          timestamp: "2026-03-05T11:17:22Z"
                          source_log: "Device Logs"
                          summary: "Connection to backend server timed out."
                pagination:
                  limit: 10
                  page: 1
                  total: 1
        '400':
          description: Bad request error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ids_required:
                  summary: At least one ID parameter is required
                  value:
                    error: "at least one of test_ids, job_ids, task_ids, or stage_ids is required"
                    status: "failed"
                ids_limit_exceeded:
                  summary: Total number of IDs exceeds the maximum limit of 100
                  value:
                    error: "total number of IDs must not exceed 100"
                    status: "failed"
        '401':
          description: Unauthorized. Invalid or expired authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid Token"
        '403':
          description: Forbidden. Authorization token is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Authorization token missing."
        '500':
          description: Server-side error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "error getting rca data"
                status: "failed"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /rca/generate:
    post:
      tags:
        - Root Cause Analysis
      summary: Trigger AI-powered RCA generation for failed tests in a scope.
      description: >-
        Resolves all failed tests under the provided scope (HyperExecute
        jobs/stages/tasks or individual test executions) and dispatches each
        eligible test to the AI RCA analyzer. Tests whose RCA was already
        generated or is currently running are skipped — credits are only
        charged for tests that are newly triggered.


        **Scope**: At least one of `job_ids`, `stage_ids`, `task_ids`, or
        `test_ids` must be provided in the JSON body. Each array is capped at
        **100 IDs**. A scope that resolves to more than **10,000 failed tests**
        is rejected with 413 — narrow the scope in that case.


        **Product routing**: Jobs/stages/tasks always route to the HyperExecute
        analyzer. `test_ids` route to the correct analyzer (HyperExecute or
        Web/Mobile automation) based on each test's stored product, so a mixed
        `test_ids` payload is supported.


        **Credits**: All-or-nothing. If the organization's available credit
        balance is below `credits_required`, a 402 is returned with the
        shortfall details and **no tests are dispatched**.
      operationId: generatePublicRCA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRCARequest'
            example:
              job_ids:
                - "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f"
              test_ids:
                - "RMAA-AND-160849-XXXX"
      responses:
        '200':
          description: Successful operation. Returns the dispatch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateRCAResponse'
              example:
                status: "success"
                data:
                  total_tests: 25
                  triggered_count: 20
                  skipped_count: 5
                  skipped_already_generated: 3
                  skipped_in_progress: 2
                  credits_estimated: 20.0
                  test_ids:
                    - "RMAA-AND-160849-XXXX"
                    - "RMAA-AND-160850-YYYY"
                  skipped_test_ids:
                    - "RMAA-AND-160851-ZZZZ"
        '400':
          description: Bad request. Returns a descriptive error for invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                missing_scope:
                  summary: No scope parameter provided
                  value:
                    status: "error"
                    message: "At least one scope parameter is required (job_ids, stage_ids, task_ids, or test_ids)"
                scope_exceeds_max:
                  summary: A scope array exceeds 100 IDs
                  value:
                    status: "error"
                    message: "test_ids must not exceed 100 IDs"
                invalid_body:
                  summary: Malformed JSON body
                  value:
                    status: "error"
                    message: "Invalid request body. Ensure Content-Type is application/json and every scope field is an array of strings (job_ids, stage_ids, task_ids, test_ids)."
        '401':
          description: >-
            Unauthorized. Missing, invalid or expired authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Invalid Token"
        '402':
          description: Insufficient credits. No tests were triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsResponse'
              example:
                status: "error"
                message: "Insufficient credits to generate RCA. Please add credits to your account to access credit-based features."
                data:
                  total_tests: 25
                  tests_to_trigger: 20
                  credits_required: 20.0
                  credits_available: 5.0
        '403':
          description: >-
            Forbidden. Returned when AI capability is not enabled for the
            organization or the caller is a guest user. Missing or invalid
            authorization tokens are returned as 401 instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "AI capability is not enabled for this organization"
        '413':
          description: Request entity too large. The scope resolves to more failed tests than the per-request maximum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Too many failed tests (12500). Please narrow the scope to under 10000 tests"
        '500':
          description: Server-side error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Error fetching failed tests"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /rca/status:
    get:
      tags:
        - Root Cause Analysis
      summary: Get RCA generation progress and completed results for a scope.
      description: >-
        Returns a progress summary (counts of completed, in-progress, failed
        and pending tests) plus a paginated list of completed RCA results for
        all tests under the provided scope. Useful for polling after calling
        POST /rca/generate.


        **Scope**: At least one of `job_ids`, `stage_ids`, `task_ids`, or
        `test_ids` must be provided. Each array is capped at **100 IDs**. A
        scope that resolves to more than **10,000 tests** is rejected with 413.


        **Detail enrichment**: Pass `include_detail=true` to hydrate each
        paginated result with the full `rca_detail` (stack traces, analysis,
        fix suggestions, error timeline). Omitted by default to keep responses
        small for polling use-cases.
      operationId: getPublicRCAStatus
      parameters:
        - name: job_ids
          in: query
          description: HyperExecute job IDs. Serialized as a comma-separated list.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 100
          example:
            - "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f"
        - name: stage_ids
          in: query
          description: HyperExecute stage IDs. Serialized as a comma-separated list.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 100
          example:
            - "stage-xyz-67890"
        - name: task_ids
          in: query
          description: HyperExecute task IDs. Serialized as a comma-separated list.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 100
          example:
            - "task-abc-12345"
        - name: test_ids
          in: query
          description: Test execution IDs. Serialized as a comma-separated list.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 100
          example:
            - "RMAA-AND-160849-XXXX"
        - name: include_detail
          in: query
          description: >-
            When `true`, enriches each completed RCA result in the current page
            with the full `rca_detail` payload (stack traces, analysis, fix
            suggestions, error timeline). Defaults to `false`.
          required: false
          schema:
            type: boolean
            default: false
          example: false
        - name: limit
          in: query
          description: Number of completed RCA records per page.
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          example: 20
        - name: offset
          in: query
          description: Zero-based offset into the completed results. Defaults to 0.
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: 0
      responses:
        '200':
          description: Successful operation. Returns progress summary and paginated results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RCAStatusResponse'
              example:
                status: "success"
                data:
                  progress:
                    total_tests: 25
                    completed: 20
                    in_progress: 3
                    failed: 1
                    pending: 1
                  results:
                    - test_id: "RMAA-AND-160849-XXXX"
                      stage_id: "stage-xyz-67890"
                      task_id: "task-abc-12345"
                      job_id: "e3251d99-805a-4b3f-a3f5-c0ea9b1d2e3f"
                      rca_category: "Test Data Issue"
                      parent_failure_category: "Infrastructure Issue"
                      status: "active"
                      created_at: "2026-03-05T11:13:32Z"
                  pagination:
                    total: 20
                    limit: 20
                    offset: 0
        '400':
          description: Bad request. Returns a descriptive error for invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                missing_scope:
                  summary: No scope parameter provided
                  value:
                    status: "error"
                    message: "At least one scope parameter is required (job_ids, stage_ids, task_ids, or test_ids)"
                scope_exceeds_max:
                  summary: A scope array exceeds 100 IDs
                  value:
                    status: "error"
                    message: "test_ids must not exceed 100 IDs"
                invalid_limit:
                  summary: limit is missing, not an integer, or outside 1–100
                  value:
                    status: "error"
                    message: "limit must be a positive integer between 1 and 100"
                invalid_offset:
                  summary: offset is negative or not an integer
                  value:
                    status: "error"
                    message: "offset must be a non-negative integer"
        '401':
          description: >-
            Unauthorized. Missing, invalid or expired authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Invalid Token"
        '403':
          description: >-
            Forbidden. Returned when AI capability is not enabled for the
            organization or the caller is a guest user. Missing or invalid
            authorization tokens are returned as 401 instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "AI capability is not enabled for this organization"
        '413':
          description: Request entity too large. The scope resolves to more tests than the per-request maximum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Too many failed tests (12500). Please narrow the scope to under 10000 tests"
        '500':
          description: Server-side error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Error fetching tests"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /concurrency:
    get:
      tags:
        - Concurrency
      summary: Get time-series concurrency metrics for a product.
      description: >-
        Returns time-bucketed concurrency usage metrics for the specified
        product. Each bucket contains the maximum concurrent sessions, queued
        sessions, allowed concurrency, and queue limit observed in that interval.


        **Product** (required): One of `automation`, `hyperexecute`,
        `app-automation`, `realtime`, `realdevice`. The value is
        case-sensitive.


        **Date range**: Defaults to the last 7 days when no timestamps are
        provided. The maximum allowed span per API call is **31 days**.


        **Granularity**: Controls the width of each time bucket. Valid values
        are `10m`, `1h`, `6h`, `12h`, `1d`. Defaults to `10m` if omitted.
        Coarser values (e.g. `1h`, `6h`) can be passed explicitly for fewer,
        wider buckets.


        **Timezone**: Shifts bucket boundaries to the specified UTC offset
        (format `+HH:MM` or `-HH:MM`, e.g. `+05:30` for IST). Defaults to
        `+00:00` (UTC). Named timezones (e.g. `IST`) are not accepted.
      operationId: getPublicConcurrency
      parameters:
        - name: product
          in: query
          required: true
          description: >-
            Product to query concurrency data for. Must be one of:
            `automation`, `hyperexecute`, `app-automation`, `realtime`,
            `realdevice`. Case-sensitive.
          schema:
            type: string
            enum:
              - automation
              - hyperexecute
              - app-automation
              - realtime
              - realdevice
          example: "automation"
        - name: from_timestamp
          in: query
          required: false
          description: >-
            Start of the date range in RFC3339 UTC format. Must be provided
            together with `to_timestamp` — both must be supplied or both
            omitted. When both are omitted, the range defaults to the last
            7 days. The span between `from_timestamp` and `to_timestamp`
            must not exceed **31 days**.
          schema:
            type: string
            format: date-time
          example: "2026-03-01T00:00:00Z"
        - name: to_timestamp
          in: query
          required: false
          description: >-
            End of the date range in RFC3339 UTC format. Defaults to the
            current time when both timestamps are omitted. Cannot be more than
            1 hour in the future. The span between `from_timestamp` and
            `to_timestamp` must not exceed **31 days**.
          schema:
            type: string
            format: date-time
          example: "2026-03-08T00:00:00Z"
        - name: granularity
          in: query
          required: false
          description: >-
            Time bucket size. Valid values: `10m`, `1h`, `6h`, `12h`, `1d`.
            Defaults to `10m` if omitted. Coarser values can be passed
            explicitly for fewer, wider buckets.
          schema:
            type: string
            enum:
              - 10m
              - 1h
              - 6h
              - 12h
              - 1d
          example: "1h"
        - name: timezone
          in: query
          required: false
          description: >-
            UTC offset to apply to bucket boundaries. Format: `+HH:MM` or
            `-HH:MM` (e.g. `+05:30` for IST, `-08:00` for PST). Hours must be
            0–14, minutes must be 0–59. Named timezones are not accepted.
            Defaults to `+00:00` (UTC).
          schema:
            type: string
          example: "+05:30"
      responses:
        '200':
          description: Successful operation. Returns time-series concurrency buckets and aggregation metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyResponse'
              example:
                status: "success"
                data:
                  - timestamp: "2026-03-03T00:00:00Z"
                    product: "automation"
                    max_concurrency: 42
                    max_queued: 3
                    max_allowed_concurrency: 50
                    max_queued_limit: 150
                  - timestamp: "2026-03-03T00:10:00Z"
                    product: "automation"
                    max_concurrency: 38
                    max_queued: 0
                    max_allowed_concurrency: 50
                    max_queued_limit: 150
                metadata:
                  granularity: "10m"
                  product: "automation"
                  total_buckets: 1008
                  date_range:
                    start: "2026-03-03T00:00:00Z"
                    end: "2026-03-10T00:00:00Z"
        '400':
          description: Bad request. Returns a descriptive error for invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_product:
                  summary: product parameter is required
                  value:
                    error: "product is required"
                    status: "failed"
                invalid_product:
                  summary: Unrecognised product name
                  value:
                    error: "invalid product: \"Automation\" (valid: app-automation, automation, hyperexecute, realdevice, realtime)"
                    status: "failed"
                invalid_granularity:
                  summary: Granularity value is not one of the accepted options
                  value:
                    error: "invalid granularity: 5m (valid: 10m, 1h, 6h, 12h, 1d)"
                    status: "failed"
                invalid_timezone:
                  summary: Malformed timezone format
                  value:
                    error: "invalid timezone format: IST (expected +HH:MM or -HH:MM, e.g. +05:30)"
                    status: "failed"
        '401':
          description: Unauthorized. Invalid or missing credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid Token"
        '403':
          description: Forbidden. Authorization token is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Authorization token missing."
        '500':
          description: Server-side error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "error fetching concurrency data"
                status: "failed"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /usage-report/summary:
    get:
      tags:
        - Usage Report
      summary: Get org-wide product usage totals.
      description: >-
        Returns aggregate test-usage totals broken down by product for the
        authenticated caller's organization over the requested date range and
        user-type population.


        **Authentication**: Basic Auth (username + Access Key). The calling
        account must be an **org admin**. For RBAC-enabled organizations the
        caller must hold the Admin role with analytics permissions.


        **User type**: `account-user` returns counts for human accounts;
        `service-user` returns counts for service/API accounts.


        **Date range**: Both `from` and `to` are required wall-clock datetimes
        (`YYYY-MM-DD HH:MM:SS`) interpreted in the specified `timezone`.
        Maximum span is **90 days**.


        **Smart UI note**: Smart UI counts compared screenshots, not test
        executions. Its product key carries `totalScreenshots` only — no
        `totalTests` or `totalDuration`.


        **Partial responses**: When one product's data fetch fails the endpoint
        still returns 200 with the others populated. The failed product's
        counts are zero and `metadata.partial` is `true` — treat this as
        incomplete data, not a real zero.
      operationId: getUsageReportSummary
      parameters:
        - name: type
          in: query
          required: true
          description: >-
            User population to include. `account-user` for human accounts;
            `service-user` for service/API accounts.
          schema:
            type: string
            enum:
              - account-user
              - service-user
          example: "account-user"
        - name: from
          in: query
          required: true
          description: >-
            Range start as a wall-clock datetime: `YYYY-MM-DD HH:MM:SS`,
            interpreted in the `timezone` offset. Example: `2026-06-23 00:00:00`.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: "2026-06-23 00:00:00"
        - name: to
          in: query
          required: true
          description: >-
            Range end as a wall-clock datetime: `YYYY-MM-DD HH:MM:SS`,
            interpreted in the `timezone` offset. Must be after `from`.
            Maximum span from `from` is 90 days.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: "2026-06-23 23:59:59"
        - name: timezone
          in: query
          required: false
          description: >-
            UTC offset for interpreting `from` and `to`. Two formats accepted:


            - ISO offset `±HH:MM` (e.g. `+05:30`, `-08:00`, `+00:00`).

            - Raw minutes from JS `Date.getTimezoneOffset()` (e.g. `-330`
              for IST, `300` for US Eastern) — sign-inverted vs ISO. The API
              converts automatically.


            Note: `+` must be percent-encoded as `%2B` in URLs. A leading
            space is also accepted and normalized to `+`.


            Defaults to `+00:00` (UTC) when omitted.
          schema:
            anyOf:
              - type: string
                pattern: '^[+\- ]?[0-9]{2}:[0-9]{2}$'
                description: ISO offset ±HH:MM (leading space accepted as +)
              - type: string
                pattern: '^-?\d{1,4}$'
                description: JS Date.getTimezoneOffset() minutes (sign-inverted vs ISO)
          example: "+00:00"
      responses:
        '200':
          description: >-
            Successful operation. Returns per-product usage totals. When
            `metadata.partial` is true one product group's fetch failed —
            treat those zero counts as unavailable, not real.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummaryResponse'
              examples:
                all_ok:
                  summary: All product fetches succeeded
                  value:
                    status: "success"
                    data:
                      metadata:
                        type: "account-user"
                        totalUsers: 12
                        from: "2026-06-23 00:00:00"
                        to: "2026-06-23 23:59:59"
                        timezone: "+00:00"
                        organization:
                          id: "12345"
                          name: "Acme Corp"
                      products:
                        automation:
                          totalTests: 8450
                          totalDuration: 312540
                        app-automation:
                          totalTests: 1200
                          totalDuration: 98400
                        hyperexecute:
                          totalTests: 3100
                          totalDuration: 210000
                        realtime:
                          totalTests: 540
                          totalDuration: 43200
                        realdevice:
                          totalTests: 275
                          totalDuration: 22000
                        smartui:
                          totalScreenshots: 6800
                partial_smartui_failed:
                  summary: Smart UI fetch failed — treat zero as unavailable
                  value:
                    status: "success"
                    data:
                      metadata:
                        type: "account-user"
                        totalUsers: 12
                        from: "2026-06-23 00:00:00"
                        to: "2026-06-23 23:59:59"
                        timezone: "+00:00"
                        organization:
                          id: "12345"
                          name: "Acme Corp"
                        partial: true
                      products:
                        automation:
                          totalTests: 8450
                          totalDuration: 312540
                        app-automation:
                          totalTests: 1200
                          totalDuration: 98400
                        hyperexecute:
                          totalTests: 3100
                          totalDuration: 210000
                        realtime:
                          totalTests: 540
                          totalDuration: 43200
                        realdevice:
                          totalTests: 275
                          totalDuration: 22000
                        smartui:
                          totalScreenshots: 0
        '400':
          description: Bad request. Missing or invalid query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                missing_type:
                  summary: type parameter missing or invalid
                  value:
                    status: "error"
                    message: "invalid or missing type (valid: [account-user service-user])"
                missing_from:
                  summary: from parameter missing
                  value:
                    status: "error"
                    message: "from is required"
                missing_to:
                  summary: to parameter missing
                  value:
                    status: "error"
                    message: "to is required"
                to_before_from:
                  summary: to is not after from
                  value:
                    status: "error"
                    message: "to must be after from"
                range_exceeds_max:
                  summary: Date range exceeds 90-day maximum
                  value:
                    status: "error"
                    message: "date range exceeds maximum allowed span of 90 days"
                invalid_timezone:
                  summary: Malformed timezone format
                  value:
                    status: "error"
                    message: "invalid timezone format: IST (expected +HH:MM or -HH:MM, e.g. +05:30)"
        '401':
          description: Unauthorized. Invalid or missing credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Invalid or missing Basic Auth credentials"
        '403':
          description: >-
            Forbidden. Caller is not an org admin, or (for RBAC orgs) does
            not hold the required analytics admin permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                non_admin:
                  summary: Non-admin caller (non-RBAC org)
                  value:
                    status: "error"
                    message: "admin access required"
                rbac_insufficient:
                  summary: Insufficient RBAC permissions
                  value:
                    status: "error"
                    message: "access restricted: your role does not have the required permissions to view the usage report. Required permissions to add: analytics:admin"
        '500':
          description: Server-side error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "failed to resolve org users"
      security:
        - BasicAuth: []
        - BearerAuth: []

  /usage-report/drilldown:
    get:
      tags:
        - Usage Report
      summary: Get per-user usage breakdown for a single product.
      description: >-
        Returns a paginated, usage-descending list of users and their
        individual test counts for the specified product, date range, and
        user-type population.


        **Authentication**: Same as `/usage-report/summary` — Basic Auth,
        admin-only.


        **Smart UI**: When `product=smartui` the response shape changes —
        `metadata.totalTests`/`totalDuration` are replaced by
        `metadata.totalScreenshots`, and each user row exposes
        `totalScreenshots` instead of `totalTestsRun`/`totalDuration`.


        **Scoping note**: `metadata.totalTests` (or `totalScreenshots`) is
        the **org-wide** total for the product across all users and both user
        types. `metadata.totalUsers` and the `users` list are scoped to the
        requested `type`. These values are intentionally independent.


        **Partial responses**: If the data fetch fails the endpoint returns
        200 with an empty `users` list and `metadata.partial: true`. Do not
        treat this as a real zero.
      operationId: getUsageReportDrilldown
      parameters:
        - name: type
          in: query
          required: true
          description: >-
            User population to include. `account-user` for human accounts;
            `service-user` for service/API accounts.
          schema:
            type: string
            enum:
              - account-user
              - service-user
          example: "account-user"
        - name: product
          in: query
          required: true
          description: Product to drill down into. Case-sensitive.
          schema:
            type: string
            enum:
              - automation
              - app-automation
              - hyperexecute
              - realtime
              - realdevice
              - smartui
          example: "automation"
        - name: from
          in: query
          required: true
          description: >-
            Range start as a wall-clock datetime: `YYYY-MM-DD HH:MM:SS`,
            interpreted in the `timezone` offset. Example: `2026-06-23 00:00:00`.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: "2026-06-23 00:00:00"
        - name: to
          in: query
          required: true
          description: >-
            Range end as a wall-clock datetime: `YYYY-MM-DD HH:MM:SS`,
            interpreted in the `timezone` offset. Must be after `from`.
            Maximum span from `from` is 90 days.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: "2026-06-23 23:59:59"
        - name: timezone
          in: query
          required: false
          description: >-
            UTC offset for interpreting `from` and `to`. Two formats accepted:


            - ISO offset `±HH:MM` (e.g. `+05:30`, `-08:00`, `+00:00`).

            - Raw minutes from JS `Date.getTimezoneOffset()` (e.g. `-330`
              for IST, `300` for US Eastern) — sign-inverted vs ISO. The API
              converts automatically.


            Note: `+` must be percent-encoded as `%2B` in URLs. A leading
            space is also accepted and normalized to `+`.


            Defaults to `+00:00` (UTC) when omitted.
          schema:
            anyOf:
              - type: string
                pattern: '^[+\- ]?[0-9]{2}:[0-9]{2}$'
                description: ISO offset ±HH:MM (leading space accepted as +)
              - type: string
                pattern: '^-?\d{1,4}$'
                description: JS Date.getTimezoneOffset() minutes (sign-inverted vs ISO)
          example: "+00:00"
        - name: page
          in: query
          required: false
          description: Page number (1-based). Defaults to 1.
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Results per page. Default 10, maximum 100.
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          example: 10
      responses:
        '200':
          description: >-
            Successful operation. Returns per-user rows sorted descending by
            usage. When `product=smartui`, `metadata.totalScreenshots` replaces
            `totalTests`/`totalDuration` and each user row carries
            `totalScreenshots` instead of `totalTestsRun`/`totalDuration`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDrilldownResponse'
              examples:
                non_smartui:
                  summary: Standard product drilldown (e.g. automation)
                  value:
                    status: "success"
                    data:
                      metadata:
                        type: "account-user"
                        product: "automation"
                        totalUsers: 8
                        totalTests: 8450
                        totalDuration: 312540
                        from: "2026-06-23 00:00:00"
                        to: "2026-06-23 23:59:59"
                        timezone: "+05:30"
                        organization:
                          id: "12345"
                          name: "Acme Corp"
                        pagination:
                          limit: 10
                          page: 1
                          total: 8
                          totalPages: 1
                      users:
                        - id: "67890"
                          username: "johndoe"
                          email: "john@example.com"
                          totalTestsRun: 3200
                          totalDuration: 120000
                        - id: "67891"
                          username: "janedoe"
                          email: "jane@example.com"
                          totalTestsRun: 2100
                          totalDuration: 85000
                smartui:
                  summary: Smart UI drilldown (product=smartui)
                  value:
                    status: "success"
                    data:
                      metadata:
                        type: "account-user"
                        product: "smartui"
                        totalUsers: 4
                        totalScreenshots: 6800
                        from: "2026-06-23 00:00:00"
                        to: "2026-06-23 23:59:59"
                        timezone: "+05:30"
                        organization:
                          id: "12345"
                          name: "Acme Corp"
                        pagination:
                          limit: 10
                          page: 1
                          total: 4
                          totalPages: 1
                      users:
                        - id: "67890"
                          username: "johndoe"
                          email: "john@example.com"
                          totalScreenshots: 4200
        '400':
          description: Bad request. Missing or invalid query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                missing_type:
                  summary: type missing or invalid
                  value:
                    status: "error"
                    message: "invalid or missing type (valid: [account-user service-user])"
                missing_product:
                  summary: product missing or invalid
                  value:
                    status: "error"
                    message: "invalid or missing product (valid: [automation app-automation hyperexecute realtime realdevice smartui])"
                missing_from:
                  summary: from parameter missing
                  value:
                    status: "error"
                    message: "from is required"
                to_before_from:
                  summary: to is not after from
                  value:
                    status: "error"
                    message: "to must be after from"
                range_exceeds_max:
                  summary: Date range exceeds 90-day maximum
                  value:
                    status: "error"
                    message: "date range exceeds maximum allowed span of 90 days"
        '401':
          description: Unauthorized. Invalid or missing credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "Invalid or missing Basic Auth credentials"
        '403':
          description: Forbidden. Caller is not an org admin or lacks RBAC permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                non_admin:
                  summary: Non-admin caller
                  value:
                    status: "error"
                    message: "admin access required"
                rbac_insufficient:
                  summary: Insufficient RBAC permissions
                  value:
                    status: "error"
                    message: "access restricted: your role does not have the required permissions to view the usage report. Required permissions to add: analytics:admin"
        '500':
          description: Server-side error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusErrorResponse'
              example:
                status: "error"
                message: "failed to resolve org users"
      security:
        - BasicAuth: []
        - BearerAuth: []
